<template>
    <div>
        <Breadcrumbs main="Inventaris" title="Stok Barang"/>
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-muted">Ubah Stok Barang</h5>
                    </div>
                    <div class="card-body">
                      <b-row>
                          <b-col xl="4">Nama Barang</b-col>
                          <b-col xl="8">
                              <b-form-input
                              v-model="nama_barang"
                              type="text"
                              required
                              ></b-form-input>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">Satuan</b-col>
                          <b-col xl="8">
                              <b-form-input
                              v-model="satuan"
                              type="text"
                              required
                              ></b-form-input>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">Harga Satuan</b-col>
                          <b-col xl="8">
                              <b-form-input
                              v-model="harga_satuan"
                              type="text"
                              v-on:keyup="formatRupiah(`harga_satuan`)"
                              required
                              ></b-form-input>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="12" class="d-flex justify-content-end">
                              <b-button @click="submitData()">Submit</b-button>
                          </b-col>
                      </b-row>    
                    </div>
                </div>
              </div> 
            </div>
        </div>
        <!-- Container-fluid Ends-->
    </div>
</template>

<script>

  export default {
    data(){
      return{
          //form
          nama_barang: null,
          satuan: null,
          harga_satuan: null
      };
    },
    computed: {
      
    },
    mounted() {
        
    },
    created() {
        let self = this;
        const data = {
            id:  this.$route.query.id
        }
        this.axios.post('http://backend.pesonabarokah.com/api/inventaris/getStokBarang', data)
        .then(function(response){
            self.nama_barang = response.data["nama_barang"]
            self.satuan = response.data["satuan"]
            self.harga_satuan = "Rp. "+response.data["harga_satuan"].replace(/\B(?=(\d{3})+(?!\d))/g, ".")
        });
    },
    methods: {
      errorToast(message){
          this.$bvToast.toast(message+" tidak boleh kosong",{
              title: "Error!",
              variant: "danger"
          })
      },
      checkForm(){
          let errors = [];
          if(!this.nama_barang){
              errors.push(" Nama Barang")
          }
          if(!this.satuan){
              errors.push(" Satuan")
          }
          if(!this.harga_satuan){
              errors.push(" Harga Satuan")
          }

          if(errors.length){
              this.errorToast(errors)
              return false;
          }else{
              return true;
          }
      },
      formatRupiah(value){
          if(this[value]){
            let formatted = "Rp. ".concat(this[value]
            .replace(/\D/g, "")
            .replace(/\B(?=(\d{3})+(?!\d))/g, "."));
            this[value] = formatted;
          }
      },  
      submitData(){
          let self = this
          if(this.checkForm()){
            const data = {
                id: this.$route.query.id,
                nama_barang: this.nama_barang,
                satuan: this.satuan,
                harga_satuan: this.harga_satuan
            }
            this.axios.post('http://backend.pesonabarokah.com/api/inventaris/updateStokBarang', data)
            .then(function(response){
                console.log(response);
                self.$router.push({name: "stokbarang", query: { success: true}});
            }).catch(function (error){
                self.$router.push({name: "operasional", query: { error: true}});
            });;
          }
      }
    }
  };
</script>