<template>
    <div>
        <Breadcrumbs main="Pembayaran" title="Pengembalian"/>
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="card"  v-if="checkAcl('pembeli-pengembalian-view')">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <h5 class="text-muted">Pengembalian</h5>
                            <b-button v-if="checkAcl('pembeli-pengembalian-add')" @click="$router.push({name: 'pengembalian/tambah'})" variant="primary" class="font-weight-bold"><b-icon-plus/>Tambah</b-button>
                        </div>
                    </div>
                    <div class="card-body">
                      <b-row>
                          <b-col m="6">
                              <b-form-group label-cols="2" label="Tampilkan" class="mb-0 datatable-select">
                                  <b-form-select v-model="perPage" :options="pageOptions"></b-form-select>
                              </b-form-group>
                          </b-col>
                          <b-col m="6">
                              <b-input-group class="datatable-btn pull-right">
                                  <b-form-input v-model="filter" placeholder="Cari..."></b-form-input>
                                  <b-input-group-append>
                                      <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
                                  </b-input-group-append>
                              </b-input-group>
                          </b-col>
                      </b-row>
                      <div class="table-responsive text-center">
                        <b-table
                          show-empty
                          stacked="md"
                          :items="items"
                          :fields="tablefields"
                          :filter="filter"
                          :current-page="currentPage"
                          :per-page="perPage"
                          striped
                          @filtered="onFiltered"
                          v-model="visibleRows"
                        >
                        <template #cell(total)="data">
                          {{ "Rp. "+data.item.total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") }}
                        </template>

                        <template #cell(action)="data">
                          <b-button-group size="sm">
                            <b-button v-b-modal.view_pembelian @click="setModalData(data.item.id)" variant="outline-dark">View</b-button>
                            <b-button v-if="checkAcl('pembeli-pengembalian-update')" @click="$router.push({name: 'pengembalian/ubah', query: {id: data.item.id}})" variant="outline-dark"><b-icon-pencil/></b-button>
                            <b-button v-if="checkAcl('pembeli-pengembalian-delete')" @click="deleteData(data.item.id)" variant="outline-dark"><b-icon-trash/></b-button>
                          </b-button-group>
                        </template>
                        
                        </b-table>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="mt-4">Menampilkan {{((this.currentPage * visibleRows.length) - visibleRows.length) + 1 }} sampai {{((this.currentPage * visibleRows.length) - visibleRows.length) + visibleRows.length }} dari {{ totalRows }} entri </p>
                        <b-col md="6" class="mt-4 p-0">
                            <b-pagination
                            align="right"
                             v-model="currentPage"
                             :total-rows="totalRows"
                             :per-page="perPage"
                             class="my-0"
                            ></b-pagination>
                        </b-col>
                      </div>
                    </div>
                </div>
                <b-modal id="view_pembelian" size="xl" title="Data Pengembalian" header-bg-variant="primary" hide-footer>
                        <b-tabs content-class="mt-3">
                            <b-tab title="DATA" active>
                                <div class="card mb-0">
                                    <div class="card-header p-2">
                                        <h5 class="text-muted"><b-icon-list/> Data Pengembalian</h5>
                                    </div>
                                    <div class="card-body">
                                        <b-row>
                                            <b-col m="6">
                                                <b-list-group>
                                                    <b-list-group-item class="d-flex justify-content-between border-0">
                                                        <div class="font-weight-bold">Nama Pembeli:</div>
                                                        <div>{{modalData.nama_pembeli}}</div>
                                                    </b-list-group-item>
                                                    <b-list-group-item class="d-flex justify-content-between border-0">
                                                        <div class="font-weight-bold">Alamat:</div>
                                                        <div>{{modalData.alamat}}</div>
                                                    </b-list-group-item>
                                                </b-list-group>
                                                <b-list-group-item class="d-flex justify-content-between border-0">
                                                        <div class="font-weight-bold">Tanggal Akad:</div>
                                                        <div>{{modalData.tanggal_akad}}</div>
                                                </b-list-group-item>
                                                <b-list-group-item class="d-flex justify-content-between border-0">
                                                        <div class="font-weight-bold">Tanggal Pembayaran:</div>
                                                        <div>{{modalData.tanggal_pembayaran}}</div>
                                                </b-list-group-item>
                                                <b-list-group-item class="d-flex justify-content-between border-0">
                                                        <div class="font-weight-bold">Total Pembayaran:</div>
                                                        <div>{{modalData.total_pembayaran}}</div>
                                                </b-list-group-item>
                                                <hr>
                                                <b-list-group-item class="d-flex justify-content-between border-0">
                                                        <div class="font-weight-bold">Total Pengembalian:</div>
                                                        <div>{{modalData.total_pengembalian}}</div>
                                                </b-list-group-item>
                                                <b-list-group-item class="d-flex justify-content-between border-0">
                                                        <div class="font-weight-bold">Sisa Pengembalian:</div>
                                                        <div>{{modalData.sisa_pengembalian}}</div>
                                                </b-list-group-item>
                                                <b-list-group-item class="d-flex justify-content-between border-0">
                                                        <div class="font-weight-bold">Keterangan:</div>
                                                        <div>{{modalData.keterangan}}</div>
                                                </b-list-group-item>
                                            </b-col>
                                            <b-col m="6">
                                                    <b-table :items=modalItems :fields=fields class="text-center">
                                                      <template #cell(action)="data">
                                                        <b-button target="_blank" :href="'http://backend.pesonabarokah.com/api/print/pengembalian/'+data.item.id" variant="outline-dark"><b-icon-printer/></b-button>
                                                      </template>
                                                    </b-table>
                                            </b-col>
                                        </b-row>
                                    </div>
                                </div>
                            </b-tab>
                        </b-tabs>
                    </b-modal>
              </div> 
            </div>
        </div>
        <!-- Container-fluid Ends-->
    </div>
</template>

<script>

  export default {
    data(){
      return{
        tablefields: [
          { key: 'nama_pembeli', label: 'Nama Pembeli', sortable: true, },
          { key: 'lokasi_rumah', label: 'Lokasi Rumah', sortable: true, },
          { key: 'total', label: 'Total Pengembalian', sortable: true, },
          { key: 'action', label: '', sortable: false, }
        ],

        fields: [
              { key: 'tanggal', label: 'Tanggal', sortable: true},
              { key: 'jumlah', label: 'Jumlah', sortable: true},
              { key: 'action', label: '', sortable: false, }
        ],

        visibleRows: [],
        items: [],
        filter: null,
        totalRows: 1,
        currentPage: 1,
        perPage: 10,
        pageOptions: [5, 10, 15],
        modalItems: [],

        modalData: [],
      };
    },
    computed: {
      sortOptions() {
        // Create an options list from our fields
        return this.tablefields
          .filter(f => f.sortable)
          .map(f => {
            return { text: f.label, value: f.key };
          });
      }
    },
    mounted() {
        this.totalRows = this.items.length;
    },
    created() {
      this.getData();
      if(this.$route.query.success){
        this.onSuccess();
        this.$router.replace({'query': null});
      }else if(this.$route.query.error){
        this.onError();
        this.$router.replace({'query': null});
      }
    },
    methods: {
      onFiltered(filteredItems) {
        // Trigger pagination to update the number of buttons/pages due to filtering
        this.totalRows = filteredItems.length;
        this.currentPage = 1;
      },
      onSuccess(){
        this.$swal.fire(
          'Sukses',
          '',
          'success'
        )
      },
      onError(){
        this.$swal.fire(
          'Gagal',
          '',
          'error'
        )
      },
      formatRupiahReturn(value){
            let formatted = "Rp. ".concat(value
            .replace(/\D/g, "")
            .replace(/\B(?=(\d{3})+(?!\d))/g, "."));
            return formatted
      },
      setModalData(id){
        let self = this
        this.axios.get('http://backend.pesonabarokah.com/api/pembeli/viewPengembalian/'+id)
        .then(function(response){
          self.modalData = response.data
          // self.modalItems = response.data.daftarpengembalian
          self.modalItems = []
          response.data.daftarpengembalian.forEach(element => {
                  self.modalItems.push({id: element.id, tanggal: element.tanggal, jumlah: self.formatRupiahReturn(element.jumlah)})
          });
        })
      },
      getData(){
        let self = this
        this.axios.get('http://backend.pesonabarokah.com/api/pembeli/getPengembalian')
        .then(function(response){
            self.items = response.data
            self.totalRows = response.data.length
        });
      },
      deleteData(id){
        let self = this
          const data = {
              id: id
          }
          this.axios.post('http://backend.pesonabarokah.com/api/pembeli/deletePengembalian', data)
          .then(function(response){
              console.log(response);
              self.getData();
              self.onSuccess();
          });
      }
    }
  };
</script>