<template>
    <div>
        <Breadcrumbs main="Pembeli" title="Pengembalian"/>
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-muted">Ubah Pengembalian</h5>
                    </div>
                    <div class="card-body">
                      <b-row class="mt-2">
                          <b-col xl="4">Nama Pembeli</b-col>
                          <b-col xl="8">
                              <vue-bootstrap-typeahead
                                    v-model="pembeli"
                                    inputClass="typeahead"
                                    :data="data_pembelian"
                                    ref="pembeli"
                                    @hit='getDetailPembelian()'
                                />
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">Alamat</b-col>
                          <b-col xl="8">
                              <b-form-input
                              v-model="alamat"
                              type="text"
                              readonly
                              ></b-form-input>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">Tanggal Akad</b-col>
                          <b-col xl="8">
                              <b-form-input
                              v-model="tanggal_akad"
                              type="text"
                              readonly
                              ></b-form-input>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">Tanggal Pembayaran</b-col>
                          <b-col xl="8">
                              <b-form-input
                              v-model="tanggal_pembayaran"
                              type="text"
                              readonly
                              ></b-form-input>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">Total Pembayaran</b-col>
                          <b-col xl="8">
                              <b-form-input
                              v-model="total"
                              type="text"
                              readonly
                              ></b-form-input>
                          </b-col>
                      </b-row>
                      <hr>
                      <b-row class="mt-2">
                          <b-col xl="4">Total Pengembalian</b-col>
                          <b-col xl="8">
                              <b-form-input
                              v-model="total_pengembalian"
                              type="text"
                              readonly
                              ></b-form-input>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">Sisa Pengembalian</b-col>
                          <b-col xl="8">
                              <b-form-input
                              v-model="sisa_pengembalian"
                              type="text"
                              readonly
                              ></b-form-input>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">Keterangan</b-col>
                          <b-col xl="8">
                              <b-form-input
                              v-model="keterangan"
                              type="text"
                              required
                              ></b-form-input>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="12" class="d-flex justify-content-end">
                              <b-button @click="submitData()">Submit</b-button>
                          </b-col>
                      </b-row>    
                    </div>
                </div>
              </div>
              <div class="col-md-6">
                  <div class="card">
                      <div class="card-header">
                          <h5 class="text-muted">Data Pengembalian</h5>
                      </div>
                      <div class="card-body">
                          <b-table :items=items :fields=fields class="text-center">
                              <template #head(action)="">
                                  <b-button @click="addRow()" variant="outline-success" size="sm"><b-icon-plus/></b-button>
                              </template>
                              <template #cell(tanggal)="data">
                                  <!-- {{data}} -->
                                  <b-form-input v-model="data.item.tanggal" type="date" ></b-form-input>
                              </template>
                              <template #cell(jumlah)="data">
                                  <b-form-input v-model="data.item.jumlah" v-on:keyup="formatRupiah(data.index)" type="text"></b-form-input>
                              </template>
                              <template #cell(action)="data">
                                  <b-button @click="removeRow(data.index)" variant="outline-danger" size="sm"><b-icon-dash/></b-button>
                              </template>
                          </b-table>
                      </div>
                  </div>
              </div> 
            </div>
        </div>
        <!-- Container-fluid Ends-->
    </div>
</template>

<script>

import VueBootstrapTypeahead from 'vue-bootstrap-typeahead';

  export default {
    components: {
      VueBootstrapTypeahead
    },
    data(){
      return{
          //form
          pembeli: null,
          alamat: null,
          tanggal_akad: null,
          tanggal_pembayaran: null,
          total: null,
          total_pengembalian: null,
          sisa_pengembalian: 0,
          keterangan: null,

          data_pembelian: [],

          tanggal: {},
          fields: [
              { key: 'tanggal', label: 'Tanggal', sortable: true},
              { key: 'jumlah', label: 'Jumlah', sortable: true},
              { key: 'action', label: '', sortable: false}
          ],
          items: []
      };
    },
    computed: {
      
    },
    mounted() {
        
    },
    created() {
        this.getPengembalian()
        this.getPembelian()
    },
    methods: {
      errorToast(message){
          this.$bvToast.toast(message+" tidak boleh kosong",{
              title: "Error!",
              variant: "danger"
          })
      },
      checkForm(){
          let errors = [];
          if(!this.pembeli){
              errors.push(" Nama Pembeli")
          }
          if(errors.length){
              this.errorToast(errors)
              return false;
          }else{
              return true;
          }
      },
      formatRupiah(value){
            let formatted = "Rp. ".concat(this.items[value].jumlah
            .replace(/\D/g, "")
            .replace(/\B(?=(\d{3})+(?!\d))/g, "."));
            this.items[value].jumlah = formatted;
            this.sumTotal()
      },
      formatRupiahReturn(value){
            let formatted = "Rp. ".concat(value
            .replace(/\D/g, "")
            .replace(/\B(?=(\d{3})+(?!\d))/g, "."));
            return formatted
      },
      addRow(){
          this.items.push({tanggal: '', jumlah: ''})
          this.sumTotal()
      },
      removeRow(row){
          this.items.splice(row, 1)
          this.sumTotal()
      },
      sumTotal(){
          let total = 0;
          for(let x=0; x<this.items.length; x++){
              total = Number(total)+Number(this.items[x].jumlah.replace(/\D/g, ""))
          }
          this.total_pengembalian = "Rp. "+total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
          this.setSisaPengembalian()
      },
      setSisaPengembalian(){
          let sisa = this.total.replace(/\D/g, "") - this.total_pengembalian.replace(/\D/g, "")
          this.sisa_pengembalian = "Rp. "+sisa.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
      },
      getPembelian(){
        let self = this
        this.axios.get('http://backend.pesonabarokah.com/api/getPembelian')
        .then(function(response){
            self.data_pembelian = response.data
        })
      },
      getDetailPembelian(){
        let self = this
        const data = {
            nama_pembeli: this.pembeli.replace(/\s*(?:\[[^\]]*\]|\([^)]*\))\s*/g,"")
        }
        this.axios.post('http://backend.pesonabarokah.com/api/getDetailPembelian', data)
        .then(function(response){
            self.alamat = response.data.alamatpembelian.alamat
            self.tanggal_akad = response.data.tanggal_akad
            self.tanggal_pembayaran = response.data.tanggal_pembayaran
            self.total = "Rp."+response.data.harga.replace(/\B(?=(\d{3})+(?!\d))/g, ".")
        })
      },
      getPengembalian(){
          let self = this
          const data = {
              id: this.$route.query.id
          }
          this.axios.post('http://backend.pesonabarokah.com/api/pembeli/getPengembalian', data)
          .then(function(response){
              console.log(response)
              self.$refs.pembeli.inputValue = response.data.pembelian.nama_pembeli+" ("+response.data.pembelian.alamatpembelian.alamat+")"
              self.pembeli = response.data.pembelian.nama_pembeli
              self.getDetailPembelian()
              self.keterangan = response.data.keterangan
              response.data.daftarpengembalian.forEach(element => {
                  self.items.push({tanggal: element.tanggal, jumlah: self.formatRupiahReturn(element.jumlah)})
              });
              self.total = "Rp. "+response.data.pembelian.harga.replace(/\B(?=(\d{3})+(?!\d))/g, ".")
              self.sumTotal()
          })
      },
      submitData(){
          let self = this
          if(this.checkForm()){
            const data = {
                id: this.$route.query.id,
                nama_pembeli: this.pembeli.replace(/\s*(?:\[[^\]]*\]|\([^)]*\))\s*/g,""),
                daftarpengembalians: this.items,
                keterangan: this.keterangan
            }
            console.log(data)
            this.axios.post('http://backend.pesonabarokah.com/api/pembeli/updatePengembalian', data)
            .then(function(response){
                console.log(response);
                self.$router.push({name: "pengembalian", query: { success: true}});
            }).catch(function (){
                self.$router.push({name: "pengembalian", query: { error: true}});
            });
          }
      }
    }
  };
</script>