<template>
    <div>
        <Breadcrumbs main="App" title="Tukang"/>
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-muted">Ubah Gaji Tukang</h5>
                    </div>
                    <div class="card-body">
                        <b-row>
                          <b-col xl="4">Lokasi</b-col>
                          <b-col xl="8">
                              <vue-bootstrap-typeahead
                                    v-model="alamat"
                                    inputClass="typeahead"
                                    :data="data_alamat"
                                    ref="alamat"
                                    @hit="setTotalHarga()"
                                />
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">Nama Tukang</b-col>
                          <b-col xl="8">
                              <b-form-select v-model="tukang" v-on:change="getDetailPembeli()" :options="data_tukang" required></b-form-select>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                              <b-col xl="4">Biaya Jasa</b-col>
                              <b-col xl="8">
                                  <b-input
                                  v-model="biaya_jasa"
                                  readonly
                                  ></b-input>
                              </b-col>
                          </b-row>
                       <b-row class="mt-2" v-if="this.$route.query.jenis == 'harian'">
                              <b-col xl="4">Total Hari Kerja</b-col>
                              <b-col xl="8">
                                  <b-input-group append="Hari">
                                    <b-form-input
                                    v-model="total_hari_kerja"
                                    v-on:keyup="setTotalHarga()"
                                    required
                                    ></b-form-input>
                                  </b-input-group>
                              </b-col>
                          </b-row>
                          <b-row class="mt-2" v-if="this.$route.query.jenis == 'borongan'">
                              <b-col xl="4">Luas Pengerjaan</b-col>
                              <b-col xl="8">
                                  <b-input-group append="meter">
                                    <b-form-input
                                    v-model="total_hari_kerja"
                                    v-on:keyup="setTotalHarga()"
                                    required
                                    ></b-form-input>
                                  </b-input-group>
                              </b-col>
                          </b-row>
                          <b-row class="mt-2">
                              <b-col xl="4">Keterangan</b-col>
                              <b-col xl="8">
                                  <b-input
                                  v-model="keterangan"
                                  required
                                  ></b-input>
                              </b-col>
                          </b-row>
                          <b-row class="mt-2">
                              <b-col xl="4">Jumlah Kasbon</b-col>
                              <b-col xl="8">
                                  <b-input
                                  v-model="jumlah_kasbon"
                                  v-on:keyup="formatRupiah('jumlah_kasbon')"
                                  required
                                  ></b-input>
                              </b-col>
                          </b-row>
                          <b-row class="mt-2">
                              <b-col xl="4">Total</b-col>
                              <b-col xl="8">
                                  <b-input
                                  v-model="total"
                                  readonly
                                  ></b-input>
                              </b-col>
                          </b-row>
                          <b-row class="mt-2">
                            <b-col xl="12" class="d-flex justify-content-end">
                                <b-button @click="submitDataHarian()">Submit</b-button>
                            </b-col>
                          </b-row>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <!-- Container-fluid Ends-->
    </div>
</template>

<script>

import VueBootstrapTypeahead from 'vue-bootstrap-typeahead';

  export default {
    components: {
      VueBootstrapTypeahead
    },
    data(){
      return{
          //form
          alamat: null,
          tukang: null,
          biaya_jasa: 0,
          total_hari_kerja: 0,
          keterangan: null,
          jumlah_kasbon: 0,
          total: 0,
          
          data_alamat: [],
          data_tukang: [],
          query: ''
      };
    },
    computed: {
      
    },
    mounted() {
       
    },
    created() {
        this.getGajiTukang()
        this.getAlamat();
        if(this.$route.query.jenis == "harian"){
            this.getTukangHarian();
        }else{
            this.getTukangBorongan();
        }
    },
    methods: {
      errorToast(message){
          this.$bvToast.toast(message+" tidak boleh kosong",{
              title: "Error!",
              variant: "danger"
          })
      },
      checkForm(){
          let errors = [];
          if(!this.alamat){
              errors.push(" Alamat")
          }
          if(!this.tukang){
              errors.push(" Tukang")
          }
          if(!this.total_hari_kerja || this.total_hari_kerja == 0){
              if(this.$route.query.jenis == "harian"){
                  errors.push(" Total Hari Kerja")
              }else{
                  errors.push(" Luas Pengerjaan")
              }
          }
          if(errors.length){
              this.errorToast(errors)
              return false;
          }else{
              return true;
          }
      },
      formatRupiah(value){
          if(this[value]){
            let formatted = "Rp. ".concat(this[value]
            .replace(/\D/g, "")
            .replace(/\B(?=(\d{3})+(?!\d))/g, "."));
            this[value] = formatted;
          }
          this.setTotalHarga();
      },
      formatRupiahReturn(value){
            let formatted = "Rp. ".concat(value
            .replace(/\D/g, "")
            .replace(/\B(?=(\d{3})+(?!\d))/g, "."));
            return formatted
      },
      getGajiTukang(){
        let self = this
        this.axios.get('http://backend.pesonabarokah.com/api/penggajian/getDetailGajiTukang/'+this.$route.query.id)
        .then(function(response){
            self.$refs.alamat.inputValue = response.data.alamat.alamat
            self.alamat = response.data.alamat.alamat;
            self.tukang = response.data.tukang.nama;
            self.biaya_jasa = self.formatRupiahReturn(response.data.jasa);
            self.total_hari_kerja = response.data.total_pengerjaan;
            self.keterangan = response.data.keterangan;
            self.jumlah_kasbon = self.formatRupiahReturn(response.data.kasbon);
            self.total = self.formatRupiahReturn(response.data.total);
        });
      },
      getAlamat(){
        let self = this
        this.axios.get('http://backend.pesonabarokah.com/api/getAlamat')
        .then(function(response){
            self.data_alamat = response.data;
        });
      },
      getTukangHarian(){
        let self = this
        this.axios.get('http://backend.pesonabarokah.com/api/getTukangHarian')
        .then(function(response){
            self.data_tukang = response.data
        });
        this.setTotalHarga()
      },
      getTukangBorongan(){
        let self = this
        this.axios.get('http://backend.pesonabarokah.com/api/getTukangBorongan')
        .then(function(response){
            self.data_tukang = response.data
        });
        this.setTotalHarga()
      },
      getDetailPembeli(){
        let self = this;
        const data = {
            nama:  this.tukang.replace(/\s*(?:\[[^\]]*\]|\([^)]*\))\s*/g,"")
        }
        this.axios.get('http://backend.pesonabarokah.com/api/getDetailTukang/'+data.nama)
        .then(function(response){
            self.biaya_jasa = response.data
        });
      },
      setTotalHarga(){
        let count = (this.biaya_jasa.toString().replace(/\D/g, "")*this.total_hari_kerja) - this.jumlah_kasbon.toString().replace(/\D/g, "")
        this.total =  "Rp. "+count.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
        stop();
      },
      submitDataHarian(){
          let self = this
          if(this.checkForm()){
              const data = {
              id: this.$route.query.id,    
              alamat: this.alamat,
              tukang: this.tukang,
              jenis: this.$route.query.jenis,
              total_hari_kerja: this.total_hari_kerja,
              keterangan: this.keterangan,
              jumlah_kasbon: this.jumlah_kasbon,
              total: this.total
            }
            this.axios.post('http://backend.pesonabarokah.com/api/penggajian/updateGajiTukang', data)
            .then(function(response){
                self.$router.push({name: "tukang", query: { success: true}});
            }).catch(function (error){
                self.$router.push({name: "tukang", query: { error: true}});
            });;
          }
      },
    },
  };
</script>