<template>
    <div>
        <Breadcrumbs main="App" title="Dashboard"/>
        <!-- Container-fluid starts-->
        <div class="container-fluid" :v-if="this.checkAcl('dashboard-view')">
            <div class="row">
            </div>  
              <div class="col-md-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="text-muted">Profit Loss</h5>
                        <b-button variant="success" :href="'http://backend.pesonabarokah.com/api/export/dashboard'">Export</b-button>
                    </div>
                    <div class="card-body">
                       <div>
                            <apexchart ref="chart" height="300" type="area" :options="chartOptions" :series="series"></apexchart>
                        </div>
                    </div>
                </div>
              </div> 
              <div class="col-md-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="text-muted">Pemasukan/Pengeluaran</h5>
                        <b-button variant="success" :href="'http://backend.pesonabarokah.com/api/export/dashboard'">Export</b-button>
                    </div>
                    <div class="card-body">
                       <div>
                            <apexchart ref="barchart" height="300" type="bar" :options="barChartOptions" :series="barSeries"></apexchart>
                        </div>
                    </div>
                </div>
              </div> 
            </div>
        </div>
        <!-- Container-fluid Ends-->
</template>

<script>
import { mapGetters } from 'vuex';

  export default {
    data: function() {
      return {
        series: [],
        barSeries: [],
        username: null,
        test: null,
        pemasukan: [],
        pengeluaran: [],
      }
    },
    computed: {
      chartOptions: function () {
        return {
          colors:['#00b894','#d63031'],
          chart: {
            id: 'chart'
          },
          xaxis: {
            categories: ["Januari", "Februari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus", "September", "Oktober", "November", "Desember"]
          },
          yaxis: {
            labels: {
              formatter: (val) => {
                return this.formatRupiahReturn(val.toString())
              }
            },
            
          },
          dataLabels: {
              enabled: false,
            },
          noData: {
            text: 'Loading...'
          }
        }
      },
       barChartOptions: function () {
        return {
          colors:['#00b894','#d63031'],
          chart: {
            id: 'barchart'
          },
          xaxis: {
            categories: ["Januari", "Februari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus", "September", "Oktober", "November", "Desember"]
          },
          yaxis: {
            labels: {
              formatter: (val) => {
                return this.formatRupiahReturn(val.toString())
              }
            },
            
          },
          dataLabels: {
              enabled: false,
            },
          noData: {
            text: 'Loading...'
          }
        }
      }
    },
    mounted() {
    },
    created() {
      this.username = this.$store.getters.StateUser
      this.getDataPemasukanPengeluaran()
    },
    methods: {
      getDataPemasukanPengeluaran(){
        let self = this;
        this.axios.get('http://backend.pesonabarokah.com/api/getDataPemasukanPengeluaran/'+new Date().getFullYear())
        .then(function(response){
          const pemasukan = [];
          const pengeluaran = [];

          response.data.pemasukan.forEach(element => {
            pemasukan.push(element)
          });

          response.data.pengeluaran.forEach(element => {
            pengeluaran.push(element)
          });

          self.$refs.barchart.updateSeries([{
            name: 'Pemasukan',
            data: pemasukan
          },
          {
            name: 'Pengeluaran',
            data: pengeluaran
          }])

          self.$refs.chart.updateSeries([{
            name: 'Pemasukan',
            data: pemasukan
          },
          {
            name: 'Pengeluaran',
            data: pengeluaran
          }])

        })
      },
      formatRupiahReturn(value){
            let formatted = "Rp. ".concat(value
            .replace(/\D/g, "")
            .replace(/\B(?=(\d{3})+(?!\d))/g, "."));
            return formatted
      },
    }
  };
</script>