<template>
    <div>
        <Breadcrumbs main="Inventaris" title="Masuk"/>
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-muted">Ubah Inventaris Masuk</h5>
                    </div>
                    <div class="card-body">
                        <b-row>
                          <b-col xl="4">Tanggal Masuk</b-col>
                          <b-col xl="8">
                              <b-form-input
                              v-model="tanggal"
                              type="date"
                              required
                              ></b-form-input>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">Supplier</b-col>
                          <b-col xl="8">
                              <b-form-input
                              v-model="supplier"
                              type="text"
                              required
                              ></b-form-input>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">Kode Barang</b-col>
                          <b-col xl="8">
                              <vue-bootstrap-typeahead
                                    v-model="query"
                                    ref="typehead"
                                    inputClass="typeahead"
                                    :data="data_barang"
                                    @hit="getDetailBarang()"
                                />
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">Nama Barang</b-col>
                          <b-col xl="8">
                              <b-form-input
                              v-model="nama_barang"
                              type="text"
                              readonly
                              ></b-form-input>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">Satuan</b-col>
                          <b-col xl="8">
                              <b-form-input
                              v-model="satuan"
                              type="text"
                              readonly
                              ></b-form-input>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">Harga Satuan</b-col>
                          <b-col xl="8">
                              <b-form-input
                              v-model="harga_satuan"
                              v-on:keyup="formatRupiah('harga_satuan')"
                              type="text"
                              ></b-form-input>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">Kuantitas</b-col>
                          <b-col xl="8">
                              <b-form-input
                              v-model="kuantitas"
                              type="text"
                              v-on:keyup="setTotalHarga()"
                              required
                              ></b-form-input>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">Total Pembelian</b-col>
                          <b-col xl="8">
                              <b-form-input
                              v-model="total"
                              type="text"
                              readonly
                              ></b-form-input>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">File</b-col>
                          <b-col xl="8">
                              <b-form-file
                              v-model="file"
                              placeholder="Pilih file">
                              </b-form-file>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="12" class="d-flex justify-content-end">
                              <b-button @click="submitData()">Submit</b-button>
                          </b-col>
                      </b-row>    
                    </div>
                </div>
              </div> 
            </div>
        </div>
        <!-- Container-fluid Ends-->
    </div>
</template>

<script>

import VueBootstrapTypeahead from 'vue-bootstrap-typeahead';

  export default {
    components: {
      VueBootstrapTypeahead
    },
    data(){
      return{
          //form
          id: null,
          barang_id: null,
          tanggal: null,
          supplier: null,
          kode_barang: null,
          nama_barang: null,
          satuan: null,
          harga_satuan: null,
          kuantitas: 0,
          total: 0,
          file: null,
          
          data_barang: [],
          query: ''
      };
    },
    computed: {
      
    },
    mounted() {
       
    },
    created() {
        this.getDataBarang();
        this.getInventarisMasuk();
    },
    methods: {
      errorToast(message){
          this.$bvToast.toast(message+" tidak boleh kosong",{
              title: "Error!",
              variant: "danger"
          })
      },
      checkForm(){
          let errors = [];
          if(!this.tanggal){
              errors.push(" Tanggal")
          }
          if(!this.supplier){
              errors.push(" Supplier")
          }
          if(!this.barang_id){
              errors.push(" Kode Barang")
          }
          if(!this.kuantitas){
              errors.push(" Kuantitas")
          }

          if(errors.length){
              this.errorToast(errors)
              return false;
          }else{
              return true;
          }
      },
      formatRupiah(value){
          if(this[value]){
            let formatted = "Rp. ".concat(this[value]
            .replace(/\D/g, "")
            .replace(/\B(?=(\d{3})+(?!\d))/g, "."));
            this[value] = formatted;
          }
          this.setTotalHarga()
      },
      getInventarisMasuk(){
        let self = this;
        const data = {
            id:  this.$route.query.id
        }
        this.axios.post('http://backend.pesonabarokah.com/api/inventaris/getInventarisMasuk', data)
        .then(function(response){
            self.id = response.data.id
            self.barang_id = response.data.barang.id
            self.tanggal = response.data.tanggal
            self.supplier = response.data.supplier
            self.$refs.typehead.inputValue = "("+response.data.barang.kode_barang+") "+response.data.barang.nama_barang
            self.nama_barang = response.data.barang.nama_barang
            self.satuan = response.data.barang.satuan
            self.harga_satuan = "Rp. "+response.data.harga_satuan.replace(/\B(?=(\d{3})+(?!\d))/g, ".")
            self.kuantitas = response.data.kuantitas
            self.total = "Rp. "+response.data.total.replace(/\B(?=(\d{3})+(?!\d))/g, ".")
        });
      },
      getDataBarang(){
        let self = this
        this.axios.get('http://backend.pesonabarokah.com/api/getKodeBarang')
        .then(function(response){
            self.data_barang = response.data;
        });
      },
      getDetailBarang(){
        let self = this;
        let kode = this.query.match(/\(([^)]+)\)/);
        const data = {
            kode_barang:  kode[1]
        }
        this.axios.post('http://backend.pesonabarokah.com/api/getDetailBarang', data)
        .then(function(response){
            self.barang_id = response.data.id
            self.nama_barang = response.data.nama_barang
            self.satuan = response.data.satuan
            self.harga_satuan = "Rp. "+response.data["harga_satuan"].replace(/\B(?=(\d{3})+(?!\d))/g, ".")
            self.setTotalHarga();
        });
      },
      setTotalHarga(){
        let count = this.kuantitas * this.harga_satuan.replace(/\D/g, "")
        this.total =  "Rp. "+count.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
        stop();
      },
      submitData(){
          let self = this
          if(this.checkForm()){
            let formData = new FormData();
              formData.append('id',this.id)
              formData.append('barang_id',this.barang_id)
              formData.append('supplier',this.supplier)
              formData.append('tanggal',this.tanggal)
              formData.append('harga_satuan',this.harga_satuan)
              formData.append('kuantitas',this.kuantitas)
              formData.append('total',this.total)
              formData.append('file',this.file)
            this.axios.post('http://backend.pesonabarokah.com/api/inventaris/updateInventarisMasuk', formData, {
                headers: {
                    'Content-Type': "multipart/form-data; charset=utf-8; boundary=" + Math.random().toString().substr(2)
                }
            })
            .then(function(response){
                console.log(response);
                self.$router.push({name: "masuk", query: { success: true}});
            }).catch(function (error){
                self.$router.push({name: "masuk", query: { error: true}});
            });;
          }
      },
    },
  };
</script>