<template>
    <div>
        <Breadcrumbs main="Penggajian" title="Karyawan"/>
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-muted">Ubah Gaji Karyawan</h5>
                    </div>
                    <div class="card-body">
                        <b-row>
                          <b-col xl="4">Tanggal</b-col>
                          <b-col xl="8">
                              <b-form-input
                              v-model="tanggal"
                              type="date"
                              required
                              ></b-form-input>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">Nama Karyawan</b-col>
                          <b-col xl="8">
                              <b-form-select v-model="nama_karyawan" v-on:change="getDetailKaryawan()" :options="data_karyawan" required></b-form-select>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">Jabatan</b-col>
                          <b-col xl="8">
                              <b-form-input
                              v-model="jabatan"
                              type="text"
                              readonly
                              ></b-form-input>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">Gaji Karyawan</b-col>
                          <b-col xl="8">
                              <b-form-input
                              v-model="gaji"
                              type="text"
                              readonly
                              ></b-form-input>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="12" class="d-flex justify-content-end">
                              <b-button @click="submitData()">Submit</b-button>
                          </b-col>
                      </b-row>    
                    </div>
                </div>
              </div> 
            </div>
        </div>
        <!-- Container-fluid Ends-->
    </div>
</template>

<script>

import VueBootstrapTypeahead from 'vue-bootstrap-typeahead';

  export default {
    components: {
      VueBootstrapTypeahead
    },
    data(){
      return{
          //form
          id: null,
          nama_karyawan: null,
          jabatan: null,
          gaji: null,
          
          data_status:[
              {value: 'Pending', text:'Pending'},
              {value: 'Done', text:'Done'}
          ],
          data_karyawan:[]
      };
    },
    computed: {
      
    },
    mounted() {
        
    },
    created() {
        this.getGajiKaryawan()
        this.getDataKaryawan()
    },
    methods: {
      errorToast(message){
          this.$bvToast.toast(message+" tidak boleh kosong",{
              title: "Error!",
              variant: "danger"
          })
      },
      checkForm(){
          let errors = [];
          if(!this.tanggal){
              errors.push(" Tanggal")
          }
          if(!this.nama_karyawan){
              errors.push(" Nama Karyawan")
          }
          if(errors.length){
              this.errorToast(errors)
              return false;
          }else{
              return true;
          }
      },
      formatRupiah(value){
          if(this[value]){
            let formatted = "Rp. ".concat(this[value]
            .replace(/\D/g, "")
            .replace(/\B(?=(\d{3})+(?!\d))/g, "."));
            this[value] = formatted;
          }
      },
      getDataKaryawan(){
        let self = this
        this.axios.get('http://backend.pesonabarokah.com/api/getKaryawan')
        .then(function(response){
            self.data_karyawan = response.data;
        });
      },
      getDetailKaryawan(){
        let self = this;
        const data = {
            nama_karyawan:  this.nama_karyawan
        }
        this.axios.get('http://backend.pesonabarokah.com/api/getDetailKaryawan/'+data.nama_karyawan)
        .then(function(response){
            self.id = response.data.id
            self.jabatan = response.data.jabatan
            self.gaji = response.data.gaji
        });
      },
      getGajiKaryawan(){
          let self = this;
          this.axios.get('http://backend.pesonabarokah.com/api/penggajian/getDetailGajiKaryawan/'+this.$route.query.id)
          .then(function(response){
             self.tanggal = response.data.tanggal
            //  self.data_karyawan = response.data.karyawan.nama
             self.nama_karyawan = response.data.karyawan.nama
             self.getDetailKaryawan()
          })
      },  
      submitData(){
          let self = this
          if(this.checkForm()){
            const data = {
                id: this.$route.query.id,
                karyawan_id: this.id,
                tanggal: this.tanggal
            }
            this.axios.post('http://backend.pesonabarokah.com/api/penggajian/updateGajiKaryawan', data)
            .then(function(response){
                self.$router.push({name: "karyawan", query: { success: true}});
            }).catch(function (error){
                self.$router.push({name: "karyawan", query: { error: true}});
            });;
          }
      }
    }
  };
</script>