<template>
    <div>
        <Breadcrumbs main="Inventaris" title="Keluar"/>
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="card" v-if="checkAcl('inventaris-keluar-view')">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <h5 class="text-muted">Inventaris Keluar</h5>
                            <b-button v-if="checkAcl('inventaris-keluar-add')" @click="$router.push({name:'keluar/tambah'})" variant="primary" class="font-weight-bold"><b-icon-plus/>Tambah</b-button>
                        </div>
                    </div>
                    <div class="card-body">
                      <b-row>
                          <b-col m="6">
                              <b-form-group label-cols="2" label="Tampilkan" class="mb-0 datatable-select">
                                  <b-form-select v-model="perPage" :options="pageOptions"></b-form-select>
                              </b-form-group>
                          </b-col>
                          <b-col m="6">
                              <b-input-group class="datatable-btn pull-right">
                                  <b-form-input v-model="filter" placeholder="Cari..."></b-form-input>
                                  <b-input-group-append>
                                      <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
                                  </b-input-group-append>
                              </b-input-group>
                          </b-col>
                      </b-row>
                      <div class="table-responsive text-center">
                        <b-table
                          show-empty
                          stacked="md"
                          :items="items"
                          :fields="tablefields"
                          :filter="filter"
                          :current-page="currentPage"
                          :per-page="perPage"
                          striped
                          @filtered="onFiltered"
                          v-model="visibleRows"
                        >
                        <template #cell(harga_satuan)="data">
                          {{ "Rp. "+data.item.harga_satuan.replace(/\B(?=(\d{3})+(?!\d))/g, ".") }}
                        </template>

                        <template #cell(total)="data">
                          {{ "Rp. "+data.item.total.replace(/\B(?=(\d{3})+(?!\d))/g, ".") }}
                        </template>

                        <template #cell(action)="data">
                          <b-button-group size="sm">
                            <b-button v-if="checkAcl('inventaris-keluar-update')" @click="$router.push({name:'keluar/ubah', query:{id: data.item.id}})" variant="outline-dark"><b-icon-pencil/></b-button>
                            <b-button v-if="checkAcl('inventaris-keluar-delete')" @click="deleteData(data.item.id)" variant="outline-dark"><b-icon-trash/></b-button>
                          </b-button-group>
                        </template>

                        <template #custom-foot>
                            <b-tr>
                                <b-th class="text-center">Total</b-th>
                                <b-th colspan="5"></b-th>
                                <b-th>{{totalKuantitas}}</b-th>
                                <b-th>{{ "Rp. "+totalHargaSatuan.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") }}</b-th>
                                <b-th>{{ "Rp. "+totalPembelian.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") }}</b-th>
                                <b-th></b-th>
                            </b-tr>
                            <b-tr variant="secondary">
                                <b-th class="text-center">Grand Total</b-th>
                                <b-th colspan="7"></b-th>
                                <b-th>{{ "Rp. "+grandTotalPembelian.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") }}</b-th>
                                <b-th></b-th>
                            </b-tr>
                        </template>

                        </b-table>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="mt-4">Menampilkan {{((this.currentPage * visibleRows.length) - visibleRows.length) + 1 }} sampai {{((this.currentPage * visibleRows.length) - visibleRows.length) + visibleRows.length }} dari {{ totalRows }} entri </p>
                        <b-col md="6" class="mt-4 p-0">
                            <b-pagination
                            align="right"
                             v-model="currentPage"
                             :total-rows="totalRows"
                             :per-page="perPage"
                             class="my-0"
                            ></b-pagination>
                        </b-col>
                      </div>
                    </div>
                </div>
              </div> 
            </div>
        </div>
        <!-- Container-fluid Ends-->
    </div>
</template>

<script>

  export default {
    data(){
      return{
        tablefields: [
          { key: 'tanggal', label: 'Tanggal', sortable: true, },
          { key: 'nama_barang', label: 'Nama Barang', sortable: true, },
          { key: 'satuan', label: 'Satuan Barang', sortable: true, },
          { key: 'alamat', label: 'Alamat', sortable: true, },
          { key: 'user', label: 'User', sortable: true, },
          { key: 'status', label: 'Status', sortable: true, },
          { key: 'kuantitas', label: 'Kuantitas', sortable: true, },
          { key: 'harga_satuan', label: 'Harga Satuan', sortable: true, },
          { key: 'total', label: 'Total Pengeluaran', sortable: true, },
          { key: 'action', label: '', sortable: false, }
        ],

        visibleRows: [],
        items: [],
        filter: null,
        totalRows: 1,
        currentPage: 1,
        perPage: 10,
        pageOptions: [5, 10, 15]
      };
    },
    computed: {
      sortOptions() {
        // Create an options list from our fields
        return this.tablefields
          .filter(f => f.sortable)
          .map(f => {
            return { text: f.label, value: f.key };
          });
      },
      totalKuantitas() {
        return this.visibleRows.reduce((data, item) => {
            return data + parseFloat(item.kuantitas)
        },0.00)
      },
      totalHargaSatuan() {
        return this.visibleRows.reduce((data, item) => {
            return data + parseFloat(item.harga_satuan.replace(/\D/g, ""))
        },0.00)
      },
      totalPembelian() {
        return this.visibleRows.reduce((data, item) => {
            return data + parseFloat(item.total.replace(/\D/g, ""))
        },0.00)
      },
      grandTotalPembelian() {
        return this.items.reduce((data, item) => {
            return data + parseFloat(item.total.replace(/\D/g, ""))
        },0.00)
      }
    },
    mounted() {
        this.totalRows = this.items.length;
    },
    created() {
      this.getData();
      if(this.$route.query.success){
        this.onSuccess();
        this.$router.replace({'query': null});
      }else if(this.$route.query.error){
        this.onError();
        this.$router.replace({'query': null});
      }
    },
    methods: {
      onFiltered(filteredItems) {
        // Trigger pagination to update the number of buttons/pages due to filtering
        this.totalRows = filteredItems.length;
        this.currentPage = 1;
      },
      onSuccess(){
        this.$swal.fire(
          'Sukses',
          '',
          'success'
        )
      },
      onError(){
        this.$swal.fire(
          'Gagal',
          '',
          'error'
        )
      },
      getData(){
        let self = this
        this.axios.get('http://backend.pesonabarokah.com/api/inventaris/getInventarisKeluar')
        .then(function(response){
            self.items = response.data
            self.totalRows = response.data.length
        });
      },
      deleteData(id){
        let self = this
          const data = {
              id: id
          }
          this.axios.post('http://backend.pesonabarokah.com/api/inventaris/deleteInventarisKeluar', data)
          .then(function(response){
              self.getData();
              self.onSuccess();
          });
      }
    }
  };
</script>