<template>
    <div>
        <Breadcrumbs main="Inventaris" title="Keluar"/>
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-muted">Ubah Inventaris Keluar</h5>
                    </div>
                    <div class="card-body">
                        <b-row>
                          <b-col xl="4">Tanggal Keluar</b-col>
                          <b-col xl="8">
                              <b-form-input
                              v-model="tanggal"
                              type="date"
                              required
                              ></b-form-input>
                          </b-col>
                      </b-row>
                        <b-row class=mt-2>
                          <b-col xl="4">Jam</b-col>
                          <b-col xl="8">
                              <b-form-input
                              v-model="jam"
                              type="time"
                              required
                              ></b-form-input>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">Kode Barang</b-col>
                          <b-col xl="8">
                              <vue-bootstrap-typeahead
                                    v-model="query"
                                    ref="kode_barang"
                                    inputClass="typeahead"
                                    :data="data_barang"
                                    @hit="getDetailBarang()"
                                />
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">Nama Barang</b-col>
                          <b-col xl="8">
                              <b-form-input
                              v-model="nama_barang"
                              type="text"
                              readonly
                              ></b-form-input>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">Satuan</b-col>
                          <b-col xl="8">
                              <b-form-input
                              v-model="satuan"
                              type="text"
                              readonly
                              ></b-form-input>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">Harga Satuan</b-col>
                          <b-col xl="8">
                              <b-form-input
                              v-model="harga_satuan"
                              type="text"
                              readonly
                              ></b-form-input>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">Alamat</b-col>
                          <b-col xl="8">
                              <vue-bootstrap-typeahead
                                    v-model="alamat"
                                    ref="alamat"
                                    inputClass="typeahead"
                                    :data="data_alamat"
                                    @hit="setTotalHarga()"
                                />
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">User</b-col>
                          <b-col xl="8">
                              <vue-bootstrap-typeahead
                                    v-model="user"
                                    ref="user"
                                    inputClass="typeahead"
                                    :data="data_tukang"
                                />
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">Status</b-col>
                          <b-col xl="8">
                               <b-form-select v-model="status" :options="data_status" required></b-form-select>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">Kuantitas</b-col>
                          <b-col xl="8">
                              <b-form-input
                              v-model="kuantitas"
                              type="text"
                              v-on:keyup="setTotalHarga()"
                              required
                              ></b-form-input>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">Total Pengeluaran</b-col>
                          <b-col xl="8">
                              <b-form-input
                              v-model="total"
                              type="text"
                              readonly
                              ></b-form-input>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="12" class="d-flex justify-content-end">
                              <b-button @click="submitData()">Submit</b-button>
                          </b-col>
                      </b-row>    
                    </div>
                </div>
              </div> 
            </div>
        </div>
        <!-- Container-fluid Ends-->
    </div>
</template>

<script>

import VueBootstrapTypeahead from 'vue-bootstrap-typeahead';

  export default {
    components: {
      VueBootstrapTypeahead
    },
    data(){
      return{
          //form
          barang_id: null,
          jam: null,
          tanggal: null,
          kode_barang: null,
          nama_barang: null,
          alamat: null,
          user: null,
          status: null,
          satuan: null,
          harga_satuan: 0,
          kuantitas: 0,
          total: 0,
          
          data_barang: [],
          data_alamat: [],
          data_tukang: [],
          data_status: [
              { value: 'Barang Baru',  text: 'Barang Baru'},
              { value: 'Perbaikan',  text: 'Perbaikan'},
          ],
          query: ''
      };
    },
    computed: {
      
    },
    mounted() {
       
    },
    created() {
        this.getInventarisKeluar();
        this.getDataBarang();
        this.getAlamat();
        this.getTukang();
    },
    methods: {
      errorToast(message){
          this.$bvToast.toast(message+" tidak boleh kosong",{
              title: "Error!",
              variant: "danger"
          })
      },
      checkForm(){
          let errors = [];
          if(!this.tanggal){
              errors.push(" Tanggal")
          }
          if(!this.jam){
              errors.push(" Jam")
          }
          if(!this.barang_id){
              errors.push(" Kode Barang")
          }
          if(!this.alamat){
              errors.push(" Alamat")
          }
          if(!this.user){
              errors.push(" User")
          }
          if(!this.status){
              errors.push(" Status")
          }
          if(!this.kuantitas){
              errors.push(" Kuantitas")
          }

          if(errors.length){
              this.errorToast(errors)
              return false;
          }else{
              return true;
          }
      },  
      formatRupiah(value){
          if(this[value]){
            let formatted = "Rp. ".concat(this[value]
            .replace(/\D/g, "")
            .replace(/\B(?=(\d{3})+(?!\d))/g, "."));
            this[value] = formatted;
          }
      },
      getInventarisKeluar()
      {
          let self = this
          const data = {
              id: self.$route.query.id
          }
          this.axios.post("http://backend.pesonabarokah.com/api/inventaris/getInventarisKeluar", data)
          .then(function(response){
              self.tanggal = response.data.tanggal
              self.jam = response.data.jam
              self.$refs.kode_barang.inputValue  = "("+response.data.barang.kode_barang+") "+response.data.barang.nama_barang
              self.barang_id = response.data.barang.id
              self.nama_barang = response.data.barang.nama_barang
              self.satuan = response.data.barang.satuan
              self.harga_satuan = "Rp. "+response.data["harga_satuan"].replace(/\B(?=(\d{3})+(?!\d))/g, ".")
              self.$refs.alamat.inputValue = response.data.alamat.alamat
              self.alamat = response.data.alamat.alamat
              self.$refs.user.inputValue = response.data.tukang.nama
              self.user = response.data.tukang.nama
              self.status = response.data.status
              self.kuantitas = response.data.kuantitas
              self.total = "Rp. "+response.data["total"].replace(/\B(?=(\d{3})+(?!\d))/g, ".")
          });
      },
      getAlamat(){
        let self = this
        this.axios.get('http://backend.pesonabarokah.com/api/getAlamat')
        .then(function(response){
            self.data_alamat = response.data;
        });
        this.setTotalHarga();
      },
      getTukang(){
        let self = this
        this.axios.get('http://backend.pesonabarokah.com/api/getTukang')
        .then(function(response){
            self.data_tukang = response.data;
        });
      },
      getDataBarang(){
        let self = this
        this.axios.get('http://backend.pesonabarokah.com/api/getInventarisMasuk')
        .then(function(response){
            self.data_barang = response.data;
        });
      },
      getDetailBarang(){
        let self = this;
        let kode = this.query.match(/\(([^)]+)\)/);
        const data = {
            kode_barang:  kode[1]
        }
        this.axios.post('http://backend.pesonabarokah.com/api/getDetailBarang', data)
        .then(function(response){
            self.barang_id = response.data.id
            self.nama_barang = response.data.nama_barang
            self.satuan = response.data.satuan
            self.harga_satuan = "Rp. "+response.data["harga_satuan"].replace(/\B(?=(\d{3})+(?!\d))/g, ".")
            self.setTotalHarga();
        });
      },
      setTotalHarga(){
        let margin = 0;
        if(this.alamat == "Karyawan" || this.alamat == "Pesantren"){
            margin = 0.20;
        }else{
            margin = 0.35;
        }
        let count = this.kuantitas * (Number(this.harga_satuan.toString().replace(/\D/g, "")) + Number(this.harga_satuan.toString().replace(/\D/g, "") * margin))
        this.total =  "Rp. "+count.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
      },
      submitData(){
          let self = this
          if(this.checkForm()){
              const data = {
                id: this.$route.query.id,
                barang_id: this.barang_id,
                tanggal: this.tanggal,
                jam: this.jam,
                harga_satuan: this.harga_satuan,
                kuantitas: this.kuantitas,
                alamat: this.alamat,
                user: this.user,
                status: this.status,
                kuantitas: this.kuantitas,
                total: this.total
            }
            this.axios.post('http://backend.pesonabarokah.com/api/inventaris/updateInventarisKeluar', data)
            .then(function(response){
                console.log(response);
                self.$router.push({name: "keluar", query: { success: true}});
            }).catch(function (error){
                self.$router.push({name: "operasional", query: { error: true}});
            });;
          }
      },
    },
  };
</script>