<template>
    <div>
        <Breadcrumbs main="App" title="Pengguna"/>
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-muted">Ubah Pengguna</h5>
                    </div>
                    <div class="card-body">
                        <b-row>
                          <b-col xl="4">Username</b-col>
                          <b-col xl="8">
                              <b-form-input
                              v-model="username"
                              type="text"
                              required
                              ></b-form-input>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">Nama Lengkap</b-col>
                          <b-col xl="8">
                              <b-form-input
                              v-model="nama"
                              type="text"
                              required
                              ></b-form-input>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">Password</b-col>
                          <b-col xl="8">
                              <b-form-input
                              v-model="password"
                              type="password"
                              required
                              ></b-form-input>
                              <i class="text-muted small">Biarkan kosong jika tidak ingin mengubah password.</i>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">Otoritas</b-col>
                          <b-col xl="8">
                            <b-list-group>
                                <b-list-group-item>
                                    <strong>Dashboard</strong>
                                    <b-form-checkbox-group
                                        v-model="selected"
                                        :options="data_dashboard"
                                    ></b-form-checkbox-group>
                                </b-list-group-item>
                                <b-list-group-item>
                                    <strong>Inventaris <b-icon-chevron-double-right/></strong>
                                </b-list-group-item>
                                <b-list-group-item class="pl-5">
                                    Stok Barang
                                    <b-form-checkbox-group
                                        v-model="selected"
                                        :options="data_inventaris_stok_barang"
                                    ></b-form-checkbox-group>
                                </b-list-group-item>
                                <b-list-group-item class="pl-5">
                                    Masuk
                                    <b-form-checkbox-group
                                        v-model="selected"
                                        :options="data_inventaris_masuk_barang"
                                    ></b-form-checkbox-group>
                                </b-list-group-item>
                                <b-list-group-item class="pl-5">
                                    Keluar
                                    <b-form-checkbox-group
                                        v-model="selected"
                                        :options="data_inventaris_keluar_barang"
                                    ></b-form-checkbox-group>
                                </b-list-group-item>
                            </b-list-group>
                            <b-list-group-item class="pl-5">
                                    Operasional
                                    <b-form-checkbox-group
                                        v-model="selected"
                                        :options="data_inventaris_operasional_barang"
                                    ></b-form-checkbox-group>
                                </b-list-group-item>
                                <b-list-group-item>
                                    <strong>Pembeli <b-icon-chevron-double-right/></strong>
                                </b-list-group-item>
                                <b-list-group-item class="pl-5">
                                    Pembelian
                                    <b-form-checkbox-group
                                        v-model="selected"
                                        :options="data_pembeli_pembelian"
                                    ></b-form-checkbox-group>
                                </b-list-group-item>
                                <b-list-group-item class="pl-5">
                                    Pengembalian
                                    <b-form-checkbox-group
                                        v-model="selected"
                                        :options="data_pembeli_pengembalian"
                                    ></b-form-checkbox-group>
                                </b-list-group-item>
                                <b-list-group-item>
                                    <strong>Pembayaran</strong>
                                    <b-form-checkbox-group
                                        v-model="selected"
                                        :options="data_pembayaran"
                                    ></b-form-checkbox-group>
                                </b-list-group-item>
                                <b-list-group-item>
                                    <strong>Penggajian <b-icon-chevron-double-right/></strong>
                                </b-list-group-item>
                                <b-list-group-item class="pl-5">
                                    Karyawan
                                    <b-form-checkbox-group
                                        v-model="selected"
                                        :options="data_penggajian_karyawan"
                                    ></b-form-checkbox-group>
                                </b-list-group-item>
                                <b-list-group-item class="pl-5">
                                    Tukang
                                    <b-form-checkbox-group
                                        v-model="selected"
                                        :options="data_penggajian_tukang"
                                    ></b-form-checkbox-group>
                                </b-list-group-item>
                                <b-list-group-item>
                                    <strong>Keluhan</strong>
                                    <b-form-checkbox-group
                                        v-model="selected"
                                        :options="data_keluhan"
                                    ></b-form-checkbox-group>
                                </b-list-group-item>
                                <b-list-group-item>
                                    <strong>Pengguna</strong>
                                    <b-form-checkbox-group
                                        v-model="selected"
                                        :options="data_pengguna"
                                    ></b-form-checkbox-group>
                                </b-list-group-item>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="12" class="d-flex justify-content-end">
                              <b-button @click="submitData()">Submit</b-button>
                          </b-col>
                      </b-row>    
                    </div>
                </div>
              </div> 
            </div>
        </div>
        <!-- Container-fluid Ends-->
    </div>
</template>

<script>

import VueBootstrapTypeahead from 'vue-bootstrap-typeahead';

  export default {
    components: {
      VueBootstrapTypeahead
    },
    data(){
      return{
          //form
          username: null,
          nama: null,
          password: null,

          selected: [],
          data_dashboard: [
              {text: 'View',value:'dashboard-view'}
          ],
          data_inventaris_stok_barang: [
              {text: 'View',value:'inventaris-stok-view'},
              {text: 'Add',value:'inventaris-stok-add'},
              {text: 'Update',value:'inventaris-stok-update'},
              {text: 'Delete',value:'inventaris-stok-delete'}
          ],
          data_inventaris_masuk_barang: [
              {text: 'View',value:'inventaris-masuk-view'},
              {text: 'Add',value:'inventaris-masuk-add'},
              {text: 'Update',value:'inventaris-masuk-update'},
              {text: 'Delete',value:'inventaris-masuk-delete'}
          ],
          data_inventaris_keluar_barang: [
              {text: 'View',value:'inventaris-keluar-view'},
              {text: 'Add',value:'inventaris-keluar-add'},
              {text: 'Update',value:'inventaris-keluar-update'},
              {text: 'Delete',value:'inventaris-keluar-delete'}
          ],
          data_inventaris_operasional_barang: [
              {text: 'View',value:'inventaris-operasional-view'},
              {text: 'Add',value:'inventaris-operasional-add'},
              {text: 'Update',value:'inventaris-operasional-update'},
              {text: 'Delete',value:'inventaris-operasional-delete'}
          ],
          data_pembeli_pembelian: [
              {text: 'View',value:'pembeli-pembelian-view'},
              {text: 'Add',value:'pembeli-pembelian-add'},
              {text: 'Update',value:'pembeli-pembelian-update'},
              {text: 'Delete',value:'pembeli-pembelian-delete'}
          ],
          data_pembeli_pengembalian: [
              {text: 'View',value:'pembeli-pengembalian-view'},
              {text: 'Add',value:'pembeli-pengembalian-add'},
              {text: 'Update',value:'pembeli-pengembalian-update'},
              {text: 'Delete',value:'pembeli-pengembalian-delete'}
          ],
          data_pembayaran: [
              {text: 'View',value:'pembayaran-view'},
              {text: 'Add',value:'pembayaran-add'},
              {text: 'Update',value:'pembayaran-update'},
              {text: 'Delete',value:'pembayaran-delete'}
          ],
          data_penggajian_karyawan: [
              {text: 'View',value:'penggajian-karyawan-view'},
              {text: 'Add',value:'penggajian-karyawan-add'},
              {text: 'Update',value:'penggajian-karyawan-update'},
              {text: 'Delete',value:'penggajian-karyawan-delete'}
          ],
          data_penggajian_tukang: [
              {text: 'View',value:'penggajian-tukang-view'},
              {text: 'Add',value:'penggajian-tukang-add'},
              {text: 'Update',value:'penggajian-tukang-update'},
              {text: 'Delete',value:'penggajian-tukang-delete'}
          ],
          data_keluhan: [
              {text: 'View',value:'keluhan-view'},
              {text: 'Add',value:'keluhan-add'},
              {text: 'Update',value:'keluhan-update'},
              {text: 'Delete',value:'keluhan-delete'}
          ],
          data_pengguna: [
              {text: 'View',value:'pengguna-view'},
              {text: 'Add',value:'pengguna-add'},
              {text: 'Update',value:'pengguna-update'},
              {text: 'Delete',value:'pengguna-delete'}
          ],
          
          
          data_status:[
              {value: 'Pending', text:'Pending'},
              {value: 'Done', text:'Done'}
          ],
          data_pembeli:[]
      };
    },
    computed: {
      
    },
    mounted() {
        
    },
    created() {
        this.getPengguna();
    },
    methods: {
      errorToast(message){
          this.$bvToast.toast(message+" tidak boleh kosong",{
              title: "Error!",
              variant: "danger"
          })
      },
      checkForm(){
          let errors = [];
          if(!this.username){
              errors.push(" Username")
          }
          if(!this.nama){
              errors.push(" Nama Lengkap")
          }          
          if(errors.length){
              this.errorToast(errors)
              return false;
          }else{
              return true;
          }
      },
      formatRupiah(value){
          if(this[value]){
            let formatted = "Rp. ".concat(this[value]
            .replace(/\D/g, "")
            .replace(/\B(?=(\d{3})+(?!\d))/g, "."));
            this[value] = formatted;
          }
      },
      getDataPembeli(){
        let self = this
        this.axios.get('http://backend.pesonabarokah.com/api/pembayaran/getNamaPembelian/air')
        .then(function(response){
            self.data_pembeli = response.data;
        });
      },
      getDetailPembeli(){
        let self = this;
        const data = {
            nama_pembeli:  this.nama_pembeli.replace(/\s*(?:\[[^\]]*\]|\([^)]*\))\s*/g,"")
        }
        this.axios.post('http://backend.pesonabarokah.com/api/getDetailPembelian/',data)
        .then(function(response){
            
            self.pembelian_id = response.data.id;
            self.alamat = response.data.alamatpembelian.alamat
        });
      }, 
      getPengguna(){
        let self = this
        const data = {
            id: this.$route.query.id
        }
        this.axios.get('http://backend.pesonabarokah.com/api/pengguna/getDetailPengguna/'+data.id)
        .then(function(response){
            self.username = response.data.username
            self.nama = response.data.nama
            response.data.barokahuseracl.forEach(element => {
                  self.selected.push(element.access)
              });
        })
      },
      submitData(){
          let self = this
          if(this.checkForm()){
            const data = {
                id: this.$route.query.id,
                username: this.username,
                nama: this.nama,
                password: this.password,
                acl: this.selected
            }
            this.axios.post('http://backend.pesonabarokah.com/api/pengguna/updatePengguna', data)
            .then(function(response){
                self.$router.push({name: "pengguna", query: { success: true}});
            }).catch(function (error){
                self.$router.push({name: "pengguna", query: { error: true}});
            });;
          }
      }
    }
  };
</script>