/**=====================
    28. Data-table CSS Start
==========================**/
.datatable-label {
  label {
    padding-top: 8px;
  }
}
.datatable-btn {
  .input-group-append {
    .btn-secondary {
      background-color: $primary-color !important;
      border: 1px solid $primary-color !important;
    }
  }
  &.input-group {
    width: 50%;
  }
  .form-control  {
    border: 1px solid $light-color;
  }
}
.datatable-select {
  text-align: right;
  border: none;
  .form-row {
    justify-content: flex-start;
    .col {
      max-width: 15%;
    }
  }
  &.form-group {
    margin-bottom: 0;
  }
  .custom-select {
    &.mb-3 {
      margin-bottom: 0 !important;
    }
  }
}
.datatable-vue{
  margin: 30px 0;
  table {
    border: 1px solid $light-semi-gray;
    tbody {
      tr {
        td {
          vertical-align: middle;
        }
      }
      tr:nth-child(odd) {
        background-color: #f9f9f9;
        td:first-child {
          background-color: #f6f6f6;
        }
        &:hover {
          background-color: #f6f6f6;
        }
      }
      tr:nth-child(even) {
        td:first-child {
          background-color: #fafafa;
        }
        &:hover {
          td {
            background-color: #f6f6f6;
          }
          td:first-child {
            background-color: #eaeaea;
          }
        }
        &.table-danger {
          > th,
          > td {
            background-color: $white;
          }
        }
      }
      .table-danger {
        > th,
        > td {
          background-color: inherit;
        }
        th, td {
          border-color: inherit;
        }
        thead, tbody {
          th, + tbody {
            border-color: inherit;
          }
        }
      }
    }
    thead {
      th {
        svg {
          vertical-align: text-bottom;
        }
      }
    }
  }
  .smart-pagination {
    margin-top: 30px;
    .pagination {
      .page-item {
        .page-link {
          svg {
            width: 13px;
            height: 13px;
            vertical-align: middle;
          }
        }
      }
    }
  }
}
.filter-smart {
  margin-bottom: 30px;
}
.age-filter {
  .input-group {
    input {
      text-align: center;
    }
    width: 26%;
    .bootstrap-touchspin-down {
      background-color: $dark-gray !important;
      border-color: $dark-gray !important;
      padding: 5px 12px;
    }
  }
}
div{
  &.dt-button-background{
    display: none !important;
  }
}
.dataTables_wrapper{
  &.no-footer {
    .dataTables_scrollBody {
      border-bottom: 1px solid $light-gray;
    }
  }
  .dt-buttons{
    .btn{
      border-radius: 0.25rem !important;
    }
  }
  padding: 0;
  .btn-group{
    button{
      margin-right: 5px;
    }
  }
  button{
    font-weight: 400;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    color: $white;
  }
  width: 100%;
  &+.dataTables_wrapper{
    margin-top: 20px;
  }
  .dataTables_paginate{
    margin-left: 15px !important;
    border: 1px solid $light-color;
    border-radius: 0.25rem;
    padding-top: 0;
    .paginate_button{
      margin: 0;
      &.current,&:active{
        background: $primary-color;
        color: $white !important;
        box-shadow: none;
      }
      &:hover{
        border:1px solid $primary-color;
        color: $dark-color !important;
        background: transparent !important;
      }
    }
  }
  .dataTables_length{
    margin-bottom: 30px;
    select{
      border-color: $light-color;
      color: $dark-color;
      padding: 0 10px;
      margin: 0 10px;
      height:2.7142em;
    }
  }
  table.dataTable{
    border:1px solid $light-semi-gray;
    thead{
      th,td{
        border-bottom:2px solid $light-semi-gray;
      }
    }
    th,td{
      padding: 0.75rem;
    }
  }
  .dataTables_filter{
    margin-bottom: 25px;
    margin-left: 15px;
    input[type="search"]{
      border: 1px solid $light-semi-gray;
      padding: 0 10px;
      margin-left: 10px;
      height: 37px;
      border-radius: 0;
    }
  }
}
.dataTables_scrollHeadInner{
  width: 100% !important;
}
table{
  .fixedHeader-floating {
    position: fixed!important;
    background-color: $white;
  }
  .box{
    >div{
      padding: 5px 15px;
      background-color: $primary-color;
      display: inline-block;
      color: $white;
      border-radius: 5px;
      margin-bottom: 15px;
      margin-right: 15px;
    }
  }
  &.dataTable{
    &.fixedHeader-locked,&.fixedHeader-floating{
      width:  calc(100vw - 250px)  !important;
      max-width: calc(100vw - 250px) !important;
      overflow: hidden !important;
      right: 0 !important;
      z-index: 99;
      left: 260px !important;
    }
    &:not(.fixedHeader-locked){
      &:not(.fixedHeader-floating){
        width: 100% !important;
      }
    }
  }
  &.dataTable{
    border-collapse: collapse!important;
    margin-top: 0 !important;
    thead{
      .sorting,.sorting_asc,.sorting_desc,.sorting_asc_disabled,.sorting_desc_disabled{
        &:before,&:after{
          bottom: 12px !important;
        }
      }
    }
    input,select{
      border: 1px solid $light-semi-gray;
      height: 37px;
    }
  }
}

.toolbar{
  padding: 5px 15px;
  background-color: $primary-color;
  display: inline-block;
  color: $white;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-right: 15px;
}
code{
  &.option{
    color: $danger-color !important;
  }
  &.api{
    color: $success-color !important;
  }
}

// Datatable extension

td.highlight {
  background-color: $light-color !important;
}
.dataTables_scroll{
  &~.dataTables_paginate{
    margin-top: 20px !important;
  }
}
.product-table{
  th{
    &:last-child{
      min-width: 120px;
    }
  }
  h6{
    font-weight: 600;
    color: $dark-color;
  }
}
table{
  &.dataTable{
    &.display {
      tbody {
        tr{
          &.odd {
            > .sorting_1{
              background-color: $light;
            }
          }
        }
      }
    }
  }
}
/**=====================
     28. Data-table CSS Ends
==========================**/
