<template>
    <div>
        <Breadcrumbs main="Inventaris" title="Operasional"/>
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-muted">Tambah Inventaris Operasional</h5>
                    </div>
                    <div class="card-body">
                        <b-row>
                          <b-col xl="4">Tanggal Masuk</b-col>
                          <b-col xl="8">
                              <b-form-input
                              v-model="tanggal"
                              type="date"
                              required
                              ></b-form-input>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">Kode Barang</b-col>
                          <b-col xl="8">
                              <b-form-input
                              v-model="kode_barang"
                              type="text"
                              readonly
                              ></b-form-input>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">Nama Barang</b-col>
                          <b-col xl="8">
                              <b-form-input
                              v-model="nama_barang"
                              type="text"
                              v-on:keyup="setKodeBarang()"
                              required
                              ></b-form-input>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">Satuan</b-col>
                          <b-col xl="8">
                              <b-form-input
                              v-model="satuan"
                              type="text"
                              v-on:keyup="setKodeBarang()"
                              required
                              ></b-form-input>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">Harga Satuan</b-col>
                          <b-col xl="8">
                              <b-form-input
                              v-model="harga_satuan"
                              v-on:keyup="formatRupiah(`harga_satuan`)"
                              type="text"
                              required
                              ></b-form-input>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">Kuantitas</b-col>
                          <b-col xl="8">
                              <b-form-input
                              v-model="kuantitas"
                              type="text"
                              v-on:keyup="setTotalHarga()"
                              required
                              ></b-form-input>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">Total Pembelian</b-col>
                          <b-col xl="8">
                              <b-form-input
                              v-model="total"
                              type="text"
                              readonly
                              ></b-form-input>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="12" class="d-flex justify-content-end">
                              <b-button @click="submitData()">Submit</b-button>
                          </b-col>
                      </b-row>    
                    </div>
                </div>
              </div> 
            </div>
        </div>
        <!-- Container-fluid Ends-->
    </div>
</template>

<script>

import VueBootstrapTypeahead from 'vue-bootstrap-typeahead';

  export default {
    components: {
      VueBootstrapTypeahead
    },
    data(){
      return{
          //form
          barang_id: null,
          tanggal: null,
          kode_barang: null,
          nama_barang: "",
          satuan: "",
          harga_satuan: "",
          kuantitas: 0,
          total: 0,
          
          data_barang: [],
          query: '',
      };
    },
    computed: {
      
    },
    mounted() {
       
    },
    created() {
        
    },
    methods: {
      errorToast(message){
          this.$bvToast.toast(message+" tidak boleh kosong",{
              title: "Error!",
              variant: "danger"
          })
      },
      checkForm(){
          let errors = [];
          if(!this.tanggal){
              errors.push(" Tanggal")
          }
          if(!this.nama_barang){
              errors.push(" Nama barang")
          }
          if(!this.satuan){
              errors.push(" Satuan")
          }
          if(!this.harga_satuan){
              errors.push(" Harga satuan")
          }
          if(!this.kuantitas){
              errors.push(" Kuantitas")
          }

          if(errors.length){
              this.errorToast(errors)
              return false;
          }else{
              return true;
          }
      },
      formatRupiah(value){
          if(this[value]){
            let formatted = "Rp. ".concat(this[value]
            .replace(/\D/g, "")
            .replace(/\B(?=(\d{3})+(?!\d))/g, "."));
            this[value] = formatted;
          }
          this.setKodeBarang()
      },
      setTotalHarga(){
        let count = this.kuantitas * this.harga_satuan.replace(/\D/g, "")
        this.total =  "Rp. "+count.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
        stop();
      },
      setKodeBarang(){
          let kode = this.nama_barang.substring(0,2).toUpperCase() + this.satuan.substring(0,2).toUpperCase() +  this.harga_satuan.replace(/\D/g, "").substring(0,2) + Math.floor(Math.random() * 90 + 10);
          this.kode_barang = kode;
      },
      submitData(){
          let self = this
          if(this.checkForm()){
              const data = {
              tanggal: this.tanggal,
              kode_barang: this.kode_barang,
              nama_barang: this.nama_barang,
              satuan: this.satuan,
              harga_satuan: this.harga_satuan,
              kuantitas: this.kuantitas,
              total: this.total
            }
            this.axios.post('http://backend.pesonabarokah.com/api/inventaris/addInventarisOperasional', data)
            .then(function(response){
                console.log(response);
                self.$router.push({name: "operasional", query: { success: true}});
            }).catch(function (error){
                self.$router.push({name: "operasional", query: { error: true}});
            });
          }
      },
    },
  };
</script>