<template>
    <div>
        <Breadcrumbs main="Pembeli" title="Pembelian"/>
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="card" v-if="checkAcl('pembeli-pembelian-view')">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <h5 class="text-muted">Pembelian</h5>
                            <b-dropdown  v-if="checkAcl('pembeli-pembelian-add')" variant="primary">
                                <template #button-content>
                                    <b-icon-plus/><strong>Tambah</strong>
                                </template>
                                <b-dropdown-item @click="$router.push({name: 'pembelian/tambah/kavling', query:{tipe: 'kavling-cash'}})">Kavling (Cash)</b-dropdown-item>
                                <b-dropdown-item @click="$router.push({name: 'pembelian/tambah/rumah', query:{tipe: 'bangunan-cash'}})">Bangunan (Cash)</b-dropdown-item>
                                <b-dropdown-item @click="$router.push({name: 'pembelian/tambah/rumah', query:{tipe: 'bangunan-kredit'}})">Bangunan (Kredit)</b-dropdown-item>
                            </b-dropdown>
                        </div>
                    </div>
                    <div class="card-body">
                      <b-row>
                          <b-col m="6">
                              <b-form-group label-cols="2" label="Tampilkan" class="mb-0 datatable-select">
                                  <b-form-select v-model="perPage" :options="pageOptions"></b-form-select>
                              </b-form-group>
                          </b-col>
                          <b-col m="6">
                              <b-input-group class="datatable-btn pull-right">
                                  <b-form-input v-model="filter" placeholder="Cari..."></b-form-input>
                                  <b-input-group-append>
                                      <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
                                  </b-input-group-append>
                              </b-input-group>
                          </b-col>
                      </b-row>
                      <div class="table-responsive text-center">
                        <b-table
                          show-empty
                          stacked="md"
                          :items="items"
                          :fields="tablefields"
                          :filter="filter"
                          :current-page="currentPage"
                          :per-page="perPage"
                          striped
                          @filtered="onFiltered"
                          v-model="visibleRows"
                        >

                        <template #cell(jenis)="data">
                          <div v-if="data.item.jenis == 'kavling'">
                              Kavling
                          </div>
                          <div v-else>
                              Rumah
                          </div>
                        </template>
                        
                        <template #cell(pilihanpembayaran_id)="data">
                          <div v-if="data.item.pilihanpembayaran_id == 0">
                              Cash
                          </div>
                          <div v-else>
                              Cicilan {{data.item.pilihanpembayaran_id}} Tahun
                          </div>
                        </template>

                        <template #cell(action)="data">
                          <b-button-group size="sm">
                            <b-button v-b-modal.view_pembelian @click="setModalData(data.item)" variant="outline-dark">View</b-button>
                                <b-button target="_blank" :href="'http://backend.pesonabarokah.com/api/print/pembelian/'+data.item.id" variant="outline-dark"><b-icon-printer/></b-button>
                                <b-button v-if="data.item.jenis == 'kavling' && data.item.pilihanpembayaran_id == 0 && checkAcl('pembeli-pembelian-update')" @click="$router.push({name: 'pembelian/ubah/kavling', query: {id: data.item.id, tipe: 'kavling-cash'}})" variant="outline-dark"><b-icon-pencil/></b-button>
                                <b-button v-else-if="data.item.jenis == 'bangunan' && data.item.pilihanpembayaran_id == 0 && checkAcl('pembeli-pembelian-update')" @click="$router.push({name: 'pembelian/ubah/rumah', query: {id: data.item.id, tipe: 'bangunan-cash'}})" variant="outline-dark"><b-icon-pencil/></b-button>
                                <b-button v-else-if="data.item.jenis == 'bangunan' && data.item.pilihanpembayaran_id != 0 && checkAcl('pembeli-pembelian-update')" @click="$router.push({name: 'pembelian/ubah/rumah', query: {id: data.item.id, tipe: 'bangunan-kredit'}})" variant="outline-dark"><b-icon-pencil/></b-button>
                            <b-button  v-if="checkAcl('pembeli-pembelian-delete')" @click="deleteData(data.item.id)" variant="outline-dark"><b-icon-trash/></b-button>
                          </b-button-group>
                        </template>
                        
                        </b-table>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="mt-4">Menampilkan {{((this.currentPage * visibleRows.length) - visibleRows.length) + 1 }} sampai {{((this.currentPage * visibleRows.length) - visibleRows.length) + visibleRows.length }} dari {{ totalRows }} entri </p>
                        <b-col md="6" class="mt-4 p-0">
                            <b-pagination
                            align="right"
                             v-model="currentPage"
                             :total-rows="totalRows"
                             :per-page="perPage"
                             class="my-0"
                            ></b-pagination>
                        </b-col>
                      </div>
                    </div>
                    <b-modal id="view_pembelian" size="xl" title="Data Pembelian" header-bg-variant="primary" hide-footer>
                        <b-tabs content-class="mt-3">
                            <b-tab title="DATA" active>
                                <div class="card mb-0">
                                    <div class="card-header p-2">
                                        <h5 class="text-muted"><b-icon-people/> Data Pembeli</h5>
                                    </div>
                                    <div class="card-body">
                                        <b-row>
                                            <b-col m="6">
                                                <b-list-group>
                                                    <b-list-group-item class="d-flex justify-content-between border-0">
                                                        <div class="font-weight-bold">Nama Pembeli:</div>
                                                        <div>{{modalData.nama_pembeli}}</div>
                                                    </b-list-group-item>
                                                    <b-list-group-item class="d-flex justify-content-between border-0">
                                                        <div class="font-weight-bold">NIK:</div>
                                                        <div>{{modalData.nik}}</div>
                                                    </b-list-group-item>
                                                </b-list-group>
                                                <b-list-group-item class="d-flex justify-content-between border-0">
                                                        <div class="font-weight-bold">No HP:</div>
                                                        <div>{{modalData.nomor_handphone}}</div>
                                                    </b-list-group-item>
                                            </b-col>
                                            <b-col m="6">
                                                    
                                                    <b-list-group-item class="d-flex justify-content-between border-0">
                                                        <div class="font-weight-bold">Alamat:</div>
                                                        <div>{{modalData.alamat}}</div>
                                                    </b-list-group-item>
                                            </b-col>
                                        </b-row>
                                    </div>
                                </div>
                                <div class="card mb-0" v-if="modalData.jenis == 'kavling' || modalData.jenis == 'bangunan'">
                                    <div class="card-header p-2">
                                        <h5 class="text-muted"><b-icon-list/> Data Pembelian</h5>
                                    </div>
                                    <div class="card-body">
                                        <b-row>
                                            <b-col xl=6>
                                                <b-list-group>
                                                    <b-list-group-item class="d-flex justify-content-between border-0" v-if="modalData.jenis == 'kavling'">
                                                        <div class="font-weight-bold">Tipe Kavling:</div>
                                                        <div>{{modalData.luas_tanah}}</div>
                                                    </b-list-group-item>
                                                    <b-list-group-item class="d-flex justify-content-between border-0" v-if="modalData.jenis == 'bangunan'">
                                                        <div class="font-weight-bold">Tipe Bangunan:</div>
                                                        <div>Barokah {{modalData.luas_tanah}}/{{modalData.luas_bangunan}}</div>
                                                    </b-list-group-item>
                                                    <b-list-group-item class="d-flex justify-content-between border-0">
                                                        <div class="font-weight-bold">Lokasi Kavling:</div>
                                                        <div>{{modalData.alamatpembelian.alamat}}</div>
                                                    </b-list-group-item>
                                                    <b-list-group-item class="d-flex justify-content-between border-0">
                                                        <div class="font-weight-bold">Pembayaran:</div>
                                                        <div class="badge badge-success" v-if="modalData.pilihanpembayaran_id == 0">Cash</div>
                                                        <div class="badge badge-success" v-else>Cicilan {{modalData.pilihanpembayaran_id}}  Tahun</div>
                                                    </b-list-group-item>
                                                    <b-list-group-item class="d-flex justify-content-between border-0" v-if="modalData.jenis == 'bangunan'">
                                                        <div class="font-weight-bold">Harga Rumah (/m):</div>
                                                        <div>Rp. {{modalData.harga_meter.replace(/\B(?=(\d{3})+(?!\d))/g, ".")}}</div>
                                                    </b-list-group-item>
                                                    <b-list-group-item class="d-flex justify-content-between border-0" v-if="modalData.pilihanpembayaran_id == 0">
                                                            <div class="font-weight-bold">Total Harga:</div>
                                                            <div>Rp. {{modalData.harga.replace(/\B(?=(\d{3})+(?!\d))/g, ".")}}</div>
                                                    </b-list-group-item>
                                                </b-list-group>
                                            </b-col>
                                            <b-col xl="6">
                                                <b-list-group>
                                                    <b-list-group-item class="d-flex justify-content-between border-0">
                                                        <div class="font-weight-bold">Tanggal Pembayaran:</div>
                                                        <div>{{modalData.tanggal_pembayaran}}</div>
                                                    </b-list-group-item>
                                                    <b-list-group-item class="d-flex justify-content-between border-0">
                                                        <div class="font-weight-bold">Tanggal Akad:</div>
                                                        <div>{{modalData.tanggal_akad}}</div>
                                                    </b-list-group-item>
                                                    <b-list-group-item class="d-flex justify-content-between border-0">
                                                        <div class="font-weight-bold">Jenis Pembayaran:</div>
                                                        <div>{{modalData.jenis_pembayaran}}</div>
                                                    </b-list-group-item>
                                                    <b-list-group-item class="d-flex justify-content-between border-0">
                                                        <div class="font-weight-bold">No Kwitansi:</div>
                                                        <div>{{modalData.no_kwitansi}}</div>
                                                    </b-list-group-item>
                                                </b-list-group>
                                            </b-col>
                                        </b-row>
                                    </div>
                                </div>
                                <div class="card" v-if="modalData.jenis == 'bangunan' && modalData.pilihanpembayaran_id != 0">
                                    <div class="card-header p-2">
                                        <h5 class="text-muted"><b-icon-credit-card/> Informasi Kredit</h5>
                                    </div>
                                    <div class="card-body">
                                        <b-row>
                                            <b-col xl=6>
                                                <b-list-group>
                                                    <b-list-group-item class="d-flex justify-content-between border-0">
                                                        <div class="font-weight-bold">Total Harga Cash:</div>
                                                        <div>Rp. {{kreditData.harga_cash.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")}}</div>
                                                    </b-list-group-item>
                                                    <b-list-group-item class="d-flex justify-content-between border-0">
                                                        <div class="font-weight-bold">DP:</div>
                                                        <div>Rp. {{modalData.dp.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")}}</div>
                                                    </b-list-group-item>
                                                    <b-list-group-item class="d-flex justify-content-between border-0">
                                                        <div class="font-weight-bold">Nilai Kredit:</div>
                                                        <div>Rp. {{kreditData.nilai_kredit.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")}}</div>
                                                    </b-list-group-item>
                                                </b-list-group>
                                            </b-col>
                                            <b-col xl="6">
                                                <b-list-group>
                                                    <b-list-group-item class="d-flex justify-content-between border-0">
                                                        <div class="font-weight-bold">Jumlah Cicilan:</div>
                                                        <div>Rp. {{kreditData.jumlah_cicilan.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")}} / Bulan</div>
                                                    </b-list-group-item>
                                                    <b-list-group-item class="d-flex justify-content-between border-0">
                                                        <div class="font-weight-bold">Jumlah Kredit Pokok:</div>
                                                        <div>Rp. {{kreditData.jumlah_kredit_pokok.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")}}</div>
                                                    </b-list-group-item>
                                                    <b-list-group-item class="d-flex justify-content-between border-0">
                                                        <div class="font-weight-bold">Total Harga Kredit:</div>
                                                        <div>Rp. {{modalData.harga.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")}}</div>
                                                    </b-list-group-item>
                                                </b-list-group>
                                            </b-col>
                                        </b-row>
                                    </div>
                                </div>
                            </b-tab>
                            <b-tab title="KTP" :disabled="!modalData.ktp">
                                <b-row>
                                    <b-col xl="12"> 
                                        <b-img v-if="modalData.ktp" :src="'http://backend.pesonabarokah.com/doc/ktp/'+modalData.ktp" :alt="modalData.ktp"></b-img>
                                    </b-col>
                                </b-row>
                            </b-tab>
                            <b-tab title="NPWP" :disabled="!modalData.npwp">
                                <b-row>
                                    <b-col xl="12"> 
                                        <b-img v-if="modalData.npwp" :src="'http://backend.pesonabarokah.com/doc/npwp/'+modalData.npwp" :alt="modalData.npwp"></b-img>
                                    </b-col>
                                </b-row>
                            </b-tab>
                            <b-tab title="SURAT AKTA" :disabled="!modalData.surat_akta">
                                <b-row>
                                    <b-col xl="12"> <b-img  v-if="modalData.surat_akta" :src="'http://backend.pesonabarokah.com/doc/surat_akta/'+modalData.surat_akta" :alt="modalData.surat_akta"></b-img> </b-col>
                                </b-row>
                            </b-tab>
                            <b-tab title="SURAT NIKAH" :disabled="!modalData.surat_nikah">
                                <b-row>
                                    <b-col xl="12"> <b-img  v-if="modalData.surat_nikah" :src="'http://backend.pesonabarokah.com/doc/surat_nikah/'+modalData.surat_nikah" :alt="modalData.surat_nikah"></b-img> </b-col>
                                </b-row>
                            </b-tab>
                        </b-tabs>
                    </b-modal>
                </div>
              </div> 
            </div>
        </div>
        <!-- Container-fluid Ends-->
    </div>
</template>

<script>

  export default {
    data(){
      return{
        tablefields: [
          { key: 'nama_pembeli', label: 'Nama Pembeli', sortable: true, },
          { key: 'nomor_handphone', label: 'No HP', sortable: true, },
          { key: 'jenis', label: 'Tipe', sortable: true, },
          { key: 'alamatpembelian.alamat', label: 'Lokasi Rumah', sortable: true, },
          { key: 'pilihanpembayaran_id', label: 'Pembayaran', sortable: true, },
          { key: 'action', label: '', sortable: false, }
        ],

        visibleRows: [],
        items: [],
        filter: null,
        totalRows: 1,
        currentPage: 1,
        perPage: 10,
        pageOptions: [5, 10, 15],
        modalData: [],
        kreditData: []
      };
    },
    computed: {
      sortOptions() {
        // Create an options list from our fields
        return this.tablefields
          .filter(f => f.sortable)
          .map(f => {
            return { text: f.label, value: f.key };
          });
      }
    },
    mounted() {
        this.totalRows = this.items.length;
    },
    created() {
      this.getData();
      if(this.$route.query.success){
        this.onSuccess();
        this.$router.replace({'query': null});
      }else if(this.$route.query.error){
        this.onError();
        this.$router.replace({'query': null});
      }
    },
    methods: {
      onFiltered(filteredItems) {
        // Trigger pagination to update the number of buttons/pages due to filtering
        this.totalRows = filteredItems.length;
        this.currentPage = 1;
      },
      onSuccess(){
        this.$swal.fire(
          'Sukses',
          '',
          'success'
        )
      },
      onError(){
        this.$swal.fire(
          'Gagal',
          '',
          'error'
        )
      },
      setModalData(data){
          this.modalData = data
          if(data.jenis == 'bangunan' && data.pilihanpembayaran_id != 0){
              this.getKreditInfo(data.id);
          }
      },
      getData(){
        let self = this
        this.axios.get('http://backend.pesonabarokah.com/api/pembeli/getPembelian')
        .then(function(response){
            self.items = response.data
            self.totalRows = response.data.length
        });
      },
      getKreditInfo(id){
        let self = this
        this.axios.get('http://backend.pesonabarokah.com/api/pembeli/getKreditInfo/'+id)
        .then(function(response){
            self.kreditData = response.data
        });
      },
      deleteData(id){
        let self = this
          const data = {
              id: id
          }
          this.axios.post('http://backend.pesonabarokah.com/api/pembeli/deletePembelian', data)
          .then(function(){
              self.getData();
              self.onSuccess();
          });
      }
    }
  };
</script>