<template>
    <div>
        <Breadcrumbs main="Pembeli" title="Pembelian"/>
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-muted">Ubah Pembelian</h5>
                    </div>
                    <div class="card-body">
                      <b-row>
                          <b-col xl="4">Nama Pembeli</b-col>
                          <b-col xl="8">
                              <b-form-input
                              v-model="nama_pembeli"
                              type="text"
                              required
                              ></b-form-input>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">NIK</b-col>
                          <b-col xl="8">
                              <b-form-input
                              v-model="nik"
                              type="text"
                              required
                              ></b-form-input>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">Alamat</b-col>
                          <b-col xl="8">
                              <b-form-input
                              v-model="alamat"
                              type="text"
                              required
                              ></b-form-input>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">Nomor Handphone</b-col>
                          <b-col xl="8">
                              <b-form-input
                              v-model="nomor_handphone"
                              type="text"
                              required
                              ></b-form-input>
                          </b-col>
                      </b-row>
                      <hr>
                      <b-row>
                          <b-col xl="4">KTP</b-col>
                          <b-col xl="8">
                              <b-form-file
                              v-model="ktp"
                              placeholder="Pilih file">
                              </b-form-file>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">NPWP</b-col>
                          <b-col xl="8">
                              <b-form-file
                              v-model="npwp"
                              placeholder="Pilih file">
                              </b-form-file>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">Surat Akta</b-col>
                          <b-col xl="8">
                              <b-form-file
                              v-model="surat_akta"
                              placeholder="Pilih file">
                              </b-form-file>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">Surat Nikah</b-col>
                          <b-col xl="8">
                              <b-form-file
                              v-model="surat_nikah"
                              placeholder="Pilih file">
                              </b-form-file>
                          </b-col>
                      </b-row>
                    </div>
                </div>
              </div>
              <div class="col-md-8">
                  <div class="card">
                      <div class="card-header">
                          <h5 class="text-muted">Pembelian Rumah</h5>
                      </div>
                      <div class="card-body">
                          <b-row>
                            <b-col xl="4">Tipe Rumah</b-col>
                            <b-col xl="8">
                                <b-form-input
                                v-model="luas_tanah"
                                type="text"
                                v-on:keyup="setHarga()"
                                placeholder="Luas Tanah"
                                required
                                ></b-form-input>
                                <b-form-input
                                class="mt-2"
                                v-model="luas_bangunan"
                                type="text"
                                v-on:keyup="setHarga()"
                                placeholder="Luas Bangunan"
                                required
                                ></b-form-input>
                            </b-col>
                         </b-row>
                         <b-row class="mt-2">
                            <b-col xl="4">Harga Rumah /m</b-col>
                            <b-col xl="8">
                                <b-form-input
                                v-model="harga_meter"
                                type="text"
                                v-on:keyup="formatRupiah('harga_meter')"
                                required
                                ></b-form-input>
                            </b-col>
                         </b-row>
                         <b-row class="mt-2" v-if="this.$route.query.tipe == 'bangunan-cash'">
                            <b-col xl="4">Tipe Pembayaran</b-col>
                            <b-col xl="8">
                                <b-form-input
                                value="Cash"
                                type="text"
                                readonly
                                ></b-form-input>
                            </b-col>
                         </b-row>
                         <b-row class="mt-2" v-if="this.$route.query.tipe == 'bangunan-kredit'">
                            <b-col xl="4">Tipe Pembayaran</b-col>
                            <b-col xl="8">
                                <b-input-group prepend="Cicilan" append="Tahun">
                                    <b-form-input
                                    v-model="pilihanpembayaran_id"
                                    type="text"
                                    v-on:keyup="formatAngka('pilihanpembayaran_id')"
                                    required
                                    ></b-form-input>
                                </b-input-group>
                            </b-col>
                         </b-row>
                         <b-row class="mt-2">
                            <b-col xl="4">Harga Rumah</b-col>
                            <b-col xl="8">
                                <b-form-input
                                v-model="harga"
                                type="text"
                                readonly
                                ></b-form-input>
                            </b-col>
                         </b-row>
                         <b-row class="mt-2" v-if="this.$route.query.tipe == 'bangunan-kredit'">
                            <b-col xl="4">DP</b-col>
                            <b-col xl="8">
                                <b-form-input
                                v-model="dp"
                                type="text"
                                v-on:keyup="formatRupiah('dp')"
                                required
                                ></b-form-input>
                            </b-col>
                         </b-row>
                         <b-row class="mt-2" v-if="this.$route.query.tipe == 'bangunan-kredit'">
                            <b-col xl="4">Nilai Kredit</b-col>
                            <b-col xl="8">
                                <b-form-input
                                v-model="nilai_kredit"
                                type="text"
                                readonly
                                ></b-form-input>
                            </b-col>
                         </b-row>
                         <b-row class="mt-2" v-if="this.$route.query.tipe == 'bangunan-kredit'">
                            <b-col xl="4">Jumlah Cicilan /Bulan</b-col>
                            <b-col xl="8">
                                <b-form-input
                                v-model="jumlah_cicilan"
                                type="text"
                                readonly
                                ></b-form-input>
                            </b-col>
                         </b-row>
                         <b-row class="mt-2" v-if="this.$route.query.tipe == 'bangunan-kredit'">
                            <b-col xl="4">Jumlah Kredit Pokok</b-col>
                            <b-col xl="8">
                                <b-form-input
                                v-model="jumlah_pokok"
                                type="text"
                                readonly
                                ></b-form-input>
                            </b-col>
                         </b-row>
                         <b-row class="mt-2" v-if="this.$route.query.tipe == 'bangunan-kredit'">
                            <b-col xl="4">Total Harga Kredit</b-col>
                            <b-col xl="8">
                                <b-form-input
                                v-model="harga_kredit"
                                type="text"
                                readonly
                                ></b-form-input>
                            </b-col>
                         </b-row>
                        <b-row class="mt-2">
                          <b-col xl="4">Alamat</b-col>
                          <b-col xl="8">
                              <vue-bootstrap-typeahead
                                    v-model="alamatpembelian"
                                    inputClass="typeahead"
                                    :data="data_alamat"
                                    ref="alamatpembelian"
                                />
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                            <b-col xl="4">Tanggal Pembayaran</b-col>
                            <b-col xl="8">
                                <b-form-input
                                v-model="tanggal_pembayaran"
                                type="date"
                                required
                                ></b-form-input>
                            </b-col>
                         </b-row>
                        <b-row class="mt-2">
                            <b-col xl="4">Tanggal Akad</b-col>
                            <b-col xl="8">
                                <b-form-input
                                v-model="tanggal_akad"
                                type="date"
                                required
                                ></b-form-input>
                            </b-col>
                         </b-row>
                        <b-row class="mt-2">
                          <b-col xl="4">Jenis Pembayaran</b-col>
                          <b-col xl="8">
                               <b-form-select v-model="jenis_pembayaran" :options="data_jenis_pembayaran" required></b-form-select>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                            <b-col xl="4">Nomor Kwitansi</b-col>
                            <b-col xl="8">
                                <b-form-input
                                v-model="no_kwitansi"
                                type="text"
                                required
                                ></b-form-input>
                            </b-col>
                         </b-row>
                         <b-row class="mt-2">
                          <b-col xl="12" class="d-flex justify-content-end">
                              <b-button @click="submitData()">Submit</b-button>
                          </b-col>
                      </b-row>    
                      </div>
                  </div>
               </div> 
            </div>
            </div>
        </div>
        <!-- Container-fluid Ends-->
</template>

<script>

import VueBootstrapTypeahead from 'vue-bootstrap-typeahead';

  export default {
    components: {
      VueBootstrapTypeahead
    },
    data(){
      return{
          //form
          nama_pembeli: null,
          nik: null,
          alamat: null,
          nomor_handphone: null,

          luas_tanah: null,
          luas_bangunan: null,
          pilihanpembayaran_id: null,
          harga_meter: 0,
          harga: null,
          dp: null,
          nilai_kredit: null,
          jumlah_cicilan: null,
          jumlah_kredit: null,
          harga_kredit: null,
          alamatpembelian: null,
          tanggal_pembayaran:null,
          tanggal_akad:null,
          jenis_pembayaran:null,
          no_kwitansi:null,

          harga_tanah:null,

          ktp:null,
          npwp:null,
          surat_akta:null,
          surat_nikah:null,

          data_alamat: [],
          data_jenis_pembayaran: [
              { value: 'Tunai',  text: 'Tunai'},
              { value: 'Transfer',  text: 'Transfer'},
          ],
      };
    },
    computed: {
      
    },
    mounted() {
        
    },
    created() {
        this.getParameter("harga_tanah")
        this.getPembelian()
        this.getAlamat()
    },
    methods: {
      errorToast(message){
          this.$bvToast.toast(message+" tidak boleh kosong",{
              title: "Error!",
              variant: "danger"
          })
      },
      checkForm(){
          let errors = [];
          if(!this.nama_pembeli){
              errors.push(" Nama Pembeli")
          }
          if(!this.nik){
              errors.push(" NIK")
          }
          if(!this.alamat){
              errors.push(" Alamat")
          }
          if(!this.nomor_handphone){
              errors.push(" Nomor Handphone")
          }
          if(!this.luas_tanah){
              errors.push(" Luas Tanah")
          }
          if(!this.luas_bangunan){
              errors.push(" Luas Bangunan")
          }
          if(this.harga_meter == 0 || !this.harga_meter){
              errors.push(" Harga Rumah /m")
          }
          if(!this.alamatpembelian){
              errors.push(" Alamat Kavling")
          }
          if(!this.tanggal_pembayaran){
              errors.push(" Tanggal Pembayaran")
          }
          if(!this.tanggal_akad){
              errors.push(" Tanggal Akad")
          }
          if(!this.jenis_pembayaran){
              errors.push(" Jenis Pembayaran")
          }
          if(!this.no_kwitansi){
              errors.push(" Nomor Kwitansi")
          }
          if(errors.length){
              this.errorToast(errors)
              return false;
          }else{
              return true;
          }
      },
      formatRupiah(value){
          if(this[value]){
            let formatted = "Rp. ".concat(this[value]
            .replace(/\D/g, "")
            .replace(/\B(?=(\d{3})+(?!\d))/g, "."));
            this[value] = formatted;
            this.setHarga()
          }
      },
      formatAngka(value){
          if(this[value]){
            let formatted = this[value]
            .replace(/\D/g, "");
            this[value] = formatted;
            this.setHarga()
          }
      },
      getParameter(parameter){
        let self = this
        const data = {
            parameter: parameter
        }
        this.axios.post('http://backend.pesonabarokah.com/api/getParameter', data)
        .then(function(response){
            self.harga_tanah = response.data.value
        })
      },
      getAlamat(){
        let self = this
        this.axios.get('http://backend.pesonabarokah.com/api/getAlamatPembelian')
        .then(function(response){
            self.data_alamat = response.data;
        });
      },
      setNilaiKredit(){
          this.nilai_kredit = "Rp. "+(this.harga.toString().replace(/\D/g, "") - this.dp.toString().replace(/\D/g, "")).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
      },
      setJumlahCicilan(){
          let cicilan = (this.nilai_kredit.toString().replace(/\D/g, "")/(this.pilihanpembayaran_id*12)) + (this.nilai_kredit.toString().replace(/\D/g, "")*(0.08/12))
          this.jumlah_cicilan = "Rp. "+(cicilan).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
      },
      setJumlahPokok(){
          let pokok = this.jumlah_cicilan.toString().replace(/\D/g, "")*(this.pilihanpembayaran_id*12);
          this.jumlah_pokok = "Rp. "+(pokok).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
      },
      setTotalKredit(){
          let kredit = Number(this.jumlah_cicilan.toString().replace(/\D/g, "")*(this.pilihanpembayaran_id*12)) + Number(this.dp.toString().replace(/\D/g, ""))
          this.harga_kredit = "Rp. "+(kredit).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
      },
      setHarga(){
        let harga_total = (this.harga_meter.toString().replace(/\D/g, "") * this.luas_tanah) + (this.harga_tanah * this.luas_bangunan)
        this.harga = "Rp. "+(harga_total).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
        
        //KREDIT
        if(this.$route.query.tipe=='bangunan-kredit'){
            this.setNilaiKredit();
            this.setJumlahCicilan();
            this.setJumlahPokok();
            this.setTotalKredit();
        }
      },  
      getPembelian(){
          let self = this
          const data = {
              id: this.$route.query.id
          }
          this.axios.post('http://backend.pesonabarokah.com/api/pembeli/getPembelian', data)
          .then(function(response){
              console.log(response);
              self.nama_pembeli = response.data.nama_pembeli
              self.nik = response.data.nik
              self.alamat = response.data.alamat
              self.nomor_handphone = response.data.nomor_handphone
              self.luas_tanah = response.data.luas_tanah
              self.luas_bangunan = response.data.luas_bangunan
              self.harga_meter = "Rp. "+response.data.harga_meter.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
              self.harga = "Rp. "+((response.data.harga_meter*response.data.luas_tanah)+(self.harga_tanah*response.data.luas_bangunan)).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
              self.$refs.alamatpembelian.inputValue = response.data.alamatpembelian.alamat
              self.alamatpembelian = response.data.alamatpembelian.alamat
              self.tanggal_pembayaran = response.data.tanggal_pembayaran
              self.tanggal_akad = response.data.tanggal_akad
              self.jenis_pembayaran = response.data.jenis_pembayaran
              self.no_kwitansi = response.data.no_kwitansi
              if(self.$route.query.tipe == 'bangunan-kredit'){
                  self.pilihanpembayaran_id = response.data.pilihanpembayaran_id
                  self.dp = "Rp. "+response.data.dp.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
                  self.setNilaiKredit();
                  self.setJumlahCicilan();
                  self.setJumlahPokok();
                  self.setTotalKredit();
              }
          })
      },  
      submitData(){
          let self = this
          if(this.checkForm()){
            let formData = new FormData();
            formData.append('id',this.$route.query.id)
            formData.append('nama_pembeli',this.nama_pembeli)
            formData.append('nik',this.nik)
            formData.append('alamat',this.alamat)
            formData.append('nomor_handphone',this.nomor_handphone)
            formData.append('luas_tanah',this.luas_tanah)
            formData.append('luas_bangunan',this.luas_bangunan)
            formData.append('harga',this.harga)
            formData.append('harga_meter',this.harga_meter)
            formData.append('alamatpembelian',this.alamatpembelian)
            formData.append('tanggal_pembayaran',this.tanggal_pembayaran)
            formData.append('tanggal_akad',this.tanggal_akad)
            formData.append('jenis_pembayaran',this.jenis_pembayaran)
            formData.append('no_kwitansi',this.no_kwitansi)
            formData.append('ktp',this.ktp)
            formData.append('npwp',this.npwp)
            formData.append('surat_akta',this.surat_akta)
            formData.append('surat_nikah',this.surat_nikah)
            //KREDIT
            if(this.$route.query.tipe=='bangunan-kredit'){
                formData.append('pilihanpembayaran_id',this.pilihanpembayaran_id)
                formData.append('dp',this.dp)
                formData.append('harga',this.harga_kredit)
            }
            this.axios.post('http://backend.pesonabarokah.com/api/pembeli/updatePembelianRumah', formData,{
                headers: {
                    'Content-Type': "multipart/form-data; charset=utf-8; boundary=" + Math.random().toString().substr(2)
                }
            })
            .then(function(response){
                console.log(response);
                self.$router.push({name: "pembelian", query: { success: true}});
            }).catch(function (error){
                self.$router.push({name: "pembelian", query: { error: true}});
            });;
          }
      }
    }
  };
</script>