<template>
    <div>
        <Breadcrumbs main="App" title="Pembayaran"/>
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="card"  v-if="checkAcl('pembayaran-view')">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <h5 class="text-muted">Pembayaran</h5>
                            <b-dropdown  v-if="checkAcl('pembayaran-add')" variant="primary">
                                <template #button-content>
                                    <b-icon-plus/><strong>Tambah</strong>
                                </template>
                                <b-dropdown-item @click="$router.push({name: 'pembayaran/tambah', query:{tipe: 'cicilan'}})">Cicilan</b-dropdown-item>
                                <b-dropdown-item @click="$router.push({name: 'pembayaran/tambah', query:{tipe: 'air'}})">Air</b-dropdown-item>
                            </b-dropdown>
                        </div>
                    </div>
                    <div class="card-body">
                      <b-tabs content-class="mt-3">
                      <b-tab title="Cicilan" active>
                        <b-row>
                          <b-col m="6">
                              <b-form-group label-cols="2" label="Tampilkan" class="mb-0 datatable-select">
                                  <b-form-select v-model="perPage" :options="pageOptions"></b-form-select>
                              </b-form-group>
                          </b-col>
                          <b-col m="6">
                              <b-input-group class="datatable-btn pull-right">
                                  <b-form-input v-model="filter" placeholder="Cari..."></b-form-input>
                                  <b-input-group-append>
                                      <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
                                  </b-input-group-append>
                              </b-input-group>
                          </b-col>
                      </b-row>
                      <div class="table-responsive text-center">
                        <b-table
                          show-empty
                          stacked="md"
                          :items="items"
                          :fields="tablefields"
                          :filter="filter"
                          :current-page="currentPage"
                          :per-page="perPage"
                          striped
                          @filtered="onFiltered"
                          v-model="visibleRows">
                        <template #cell(total_pembayaran)="data">
                          {{ "Rp. "+data.item.total_pembayaran.replace(/\B(?=(\d{3})+(?!\d))/g, ".") }}
                        </template>
                        <template #cell(action)="data">
                          <b-button-group size="sm">
                            <b-button target="_blank" :href="'http://backend.pesonabarokah.com/api/print/pembayaran/'+data.item.id" variant="outline-dark"><b-icon-printer/></b-button>
                            <b-button v-if="checkAcl('pembayaran-update')" @click="$router.push({name: 'pembayaran/ubah', query: {id: data.item.id, tipe: 'cicilan'}})" variant="outline-dark"><b-icon-pencil/></b-button>
                            <b-button v-if="checkAcl('pembayaran-delete')" @click="deleteData(data.item.id)" variant="outline-dark"><b-icon-trash/></b-button>
                          </b-button-group>
                        </template>

                        <template #custom-foot>
                            <b-tr>
                                <b-th class="text-center">Total</b-th>
                                <b-th colspan="2"></b-th>
                                <b-th>{{ "Rp. "+totalPembelian.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") }}</b-th>
                                <b-th></b-th>
                            </b-tr>
                            <b-tr variant="secondary">
                                <b-th class="text-center">Grand Total</b-th>
                                <b-th colspan="2"></b-th>
                                <b-th>{{ "Rp. "+grandTotalPembelian.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") }}</b-th>
                                <b-th></b-th>
                            </b-tr>
                        </template>

                        </b-table>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="mt-4">Menampilkan {{((this.currentPage * visibleRows.length) - visibleRows.length) + 1 }} sampai {{((this.currentPage * visibleRows.length) - visibleRows.length) + visibleRows.length }} dari {{ totalRows }} entri </p>
                        <b-col md="6" class="mt-4 p-0">
                            <b-pagination
                            align="right"
                             v-model="currentPage"
                             :total-rows="totalRows"
                             :per-page="perPage"
                             class="my-0"
                            ></b-pagination>
                        </b-col>
                      </div>
                      </b-tab>
                      <b-tab title="Air">
                        <b-row>
                          <b-col m="6">
                              <b-form-group label-cols="2" label="Tampilkan" class="mb-0 datatable-select">
                                  <b-form-select v-model="perPageAir" :options="pageOptions"></b-form-select>
                              </b-form-group>
                          </b-col>
                          <b-col m="6">
                              <b-input-group class="datatable-btn pull-right">
                                  <b-form-input v-model="filterAir" placeholder="Cari..."></b-form-input>
                                  <b-input-group-append>
                                      <b-button :disabled="!filterAir" @click="filterAir = ''">Clear</b-button>
                                  </b-input-group-append>
                              </b-input-group>
                          </b-col>
                      </b-row>
                      <div class="table-responsive text-center">

                        <b-table
                          show-empty
                          stacked="md"
                          :items="itemsAir"
                          :fields="tablefields"
                          :filter="filterAir"
                          :current-page="currentPageAir"
                          :per-page="perPageAir"
                          striped
                          @filtered="onFilteredAir"
                          v-model="visibleRowsAir">
                        <template #cell(total_pembayaran)="data">
                          {{ "Rp. "+data.item.total_pembayaran.replace(/\B(?=(\d{3})+(?!\d))/g, ".") }}
                        </template>
                        <template #cell(action)="data">
                          <b-button-group size="sm">
                            <b-button target="_blank" :href="'http://backend.pesonabarokah.com/api/print/pembayaran/'+data.item.id" variant="outline-dark"><b-icon-printer/></b-button>
                            <b-button @click="$router.push({name: 'pembayaran/ubah', query: {id: data.item.id, tipe: 'air'}})" variant="outline-dark"><b-icon-pencil/></b-button>
                            <b-button @click="deleteData(data.item.id)" variant="outline-dark"><b-icon-trash/></b-button>
                          </b-button-group>
                        </template>

                        <template #custom-foot>
                            <b-tr>
                                <b-th class="text-center">Total</b-th>
                                <b-th colspan="2"></b-th>
                                <b-th>{{ "Rp. "+totalPembelianAir.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") }}</b-th>
                                <b-th></b-th>
                            </b-tr>
                            <b-tr variant="secondary">
                                <b-th class="text-center">Grand Total</b-th>
                                <b-th colspan="2"></b-th>
                                <b-th>{{ "Rp. "+grandTotalPembelianAir.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") }}</b-th>
                                <b-th></b-th>
                            </b-tr>
                        </template>

                        </b-table>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="mt-4">Menampilkan {{((this.currentPage * visibleRows.length) - visibleRows.length) + 1 }} sampai {{((this.currentPage * visibleRows.length) - visibleRows.length) + visibleRows.length }} dari {{ totalRows }} entri </p>
                        <b-col md="6" class="mt-4 p-0">
                            <b-pagination
                            align="right"
                             v-model="currentPageAir"
                             :total-rows="totalRowsAir"
                             :per-page="perPageAir"
                             class="my-0"
                            ></b-pagination>
                        </b-col>
                      </div>
                      </b-tab>
                    </b-tabs>
                      </div>
                </div>
              </div> 
            </div>
        </div>
        <!-- Container-fluid Ends-->
    </div>
</template>

<script>

  export default {
    data(){
      return{
        tablefields: [
          { key: 'tanggal', label: 'Tanggal', sortable: true, },
          { key: 'pembelian.nama_pembeli', label: 'Nama Pembeli', sortable: true, },
          { key: 'bulan', label: 'Pembayaran Bulan', sortable: true, },
          { key: 'total_pembayaran', label: 'Total Pembayaran', sortable: true, },
          { key: 'action', label: '', sortable: false, }
        ],

        visibleRows: [],
        visibleRowsAir: [],
        items: [],
        itemsAir: [],
        filter: null,
        filterAir: null,
        totalRows: 1,
        totalRowsAir: 1,
        currentPage: 1,
        currentPageAir: 1,
        perPage: 10,
        perPageAir: 10,
        pageOptions: [5, 10, 15]
      };
    },
    computed: {
      sortOptions() {
        // Create an options list from our fields
        return this.tablefields
          .filter(f => f.sortable)
          .map(f => {
            return { text: f.label, value: f.key };
          });
      },
      totalPembelian() {
        return this.visibleRows.reduce((data, item) => {
            return data + parseFloat(item.total_pembayaran.replace(/\D/g, ""))
        },0.00)
      },
      grandTotalPembelian() {
        return this.items.reduce((data, item) => {
            return data + parseFloat(item.total_pembayaran.replace(/\D/g, ""))
        },0.00)
      },
      totalPembelianAir() {
        return this.visibleRowsAir.reduce((data, item) => {
            return data + parseFloat(item.total_pembayaran.replace(/\D/g, ""))
        },0.00)
      },
      grandTotalPembelianAir() {
        return this.itemsAir.reduce((data, item) => {
            return data + parseFloat(item.total_pembayaran.replace(/\D/g, ""))
        },0.00)
      }
    },
    mounted() {
        this.totalRows = this.items.length;
        this.totalRowsAir = this.itemsAir.length;
    },
    created() {
      this.getData();
      this.getDataAir()
      if(this.$route.query.success){
        this.onSuccess();
        this.$router.replace({'query': null});
      }else if(this.$route.query.error){
        this.onError();
        this.$router.replace({'query': null});
      }
    },
    methods: {
      onFiltered(filteredItems) {
        // Trigger pagination to update the number of buttons/pages due to filtering
        this.totalRows = filteredItems.length;
        this.currentPage = 1;
      },
      onFilteredAir(filteredItems) {
        // Trigger pagination to update the number of buttons/pages due to filtering
        this.totalRows = filteredItems.length;
        this.currentPage = 1;
      },
      onSuccess(){
        this.$swal.fire(
          'Sukses',
          '',
          'success'
        )
      },
      getData(){
        let self = this
        this.axios.get('http://backend.pesonabarokah.com/api/pembayaran/getCicilan')
        .then(function(response){
            self.items = response.data
            self.totalRows = response.data.length
        });
      },
      getDataAir(){
        let self = this
        this.axios.get('http://backend.pesonabarokah.com/api/pembayaran/getAir')
        .then(function(response){
            self.itemsAir = response.data
            self.totalRowsAir = response.data.length
        });
      },
      onError(){
        this.$swal.fire(
          'Gagal',
          '',
          'error'
        )
      },
      deleteData(id){
        let self = this
          const data = {
              id: id
          }
          this.axios.post('http://backend.pesonabarokah.com/api/pembayaran/deletePembayaran', data)
          .then(function(response){
              console.log(response);
              self.getData();
              self.getDataAir()
              self.onSuccess();
          });
      }
    }
  };
</script>