<template>
    <div>
        <Breadcrumbs main="App" title="Pembayaran"/>
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-muted">Ubah Pembayaran</h5>
                    </div>
                    <div class="card-body">
                        <b-row>
                          <b-col xl="4">Tanggal Pembayaran</b-col>
                          <b-col xl="8">
                              <b-form-input
                              v-model="tanggal"
                              type="date"
                              required
                              ></b-form-input>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">Nama Pembeli</b-col>
                          <b-col xl="8">
                              <vue-bootstrap-typeahead
                                    v-model="nama_pembeli"
                                    inputClass="typeahead"
                                    ref="nama_pembeli"
                                    :data="data_pembeli"
                                    @hit="getDetailPembeli()"
                                />
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">Pembayaran Bulan</b-col>
                          <b-col xl="8">
                              <b-form-select v-model="bulan" :options="data_bulan" required></b-form-select>
                          </b-col>
                      </b-row> 
                    </div>
                </div>
              </div>
              <div class="col-md-8" v-if="this.$route.query.tipe == 'cicilan'">
                  <div class="card">
                      <div class="card-header">
                          <h5 class="text-muted">Pembayaran Cicilan</h5>
                      </div>
                      <div class="card-body">
                          <b-row>
                              <b-col xl="4">Nama Pemilik Rumah</b-col>
                              <b-col xl="8">{{nama_pemilik_rumah}}</b-col>
                          </b-row>
                          <b-row class="mt-2">
                              <b-col xl="4">Nomor Handphone</b-col>
                              <b-col xl="8">{{nomor_handphone}}</b-col>
                          </b-row>
                          <b-row class="mt-2">
                              <b-col xl="4">Alamat Rumah</b-col>
                              <b-col xl="8">{{alamat}}</b-col>
                          </b-row>
                          <b-row class="mt-2">
                              <b-col xl="4">Total Pembayaran</b-col>
                              <b-col xl="8">
                                  <b-input
                                  v-model="total_pembayaran"
                                  v-on:keyup="formatRupiah('total_pembayaran')"
                                  required
                                  ></b-input>
                              </b-col>
                          </b-row>
                          <hr>
                          <b-row class="mt-2">
                            <b-col xl="4">Total Dibayarakan</b-col>
                            <b-col xl="8">{{total_dibayarkan}}</b-col>
                          </b-row> 
                          <b-row class="mt-2">
                            <b-col xl="4">Sisa Cicilan</b-col>
                            <b-col xl="8">{{sisa_cicilan}}</b-col>
                          </b-row>   
                          <b-row class="mt-2">
                            <b-col xl="4">Sisa Pembayaran</b-col>
                            <b-col xl="8">{{sisa_pembayaran}}</b-col>
                          </b-row> 
                          <b-row class="mt-2">
                          <b-col xl="12" class="d-flex justify-content-end">
                              <b-button @click="submitData()">Submit</b-button>
                          </b-col>
                      </b-row> 
                      </div>
                  </div>
              </div> 
              <div class="col-md-8" v-if="this.$route.query.tipe == 'air'">
                  <div class="card">
                      <div class="card-header">
                          <h5 class="text-muted">Pembayaran Air</h5>
                      </div>
                      <div class="card-body">
                          <b-row>
                              <b-col xl="4">Nama Pemilik Rumah</b-col>
                              <b-col xl="8">{{nama_pemilik_rumah}}</b-col>
                          </b-row>
                          <b-row class="mt-2">
                              <b-col xl="4">Nomor Handphone</b-col>
                              <b-col xl="8">{{nomor_handphone}}</b-col>
                          </b-row>
                          <b-row class="mt-2">
                              <b-col xl="4">Alamat Rumah</b-col>
                              <b-col xl="8">{{alamat}}</b-col>
                          </b-row>
                          <b-row class="mt-2">
                              <b-col xl="4">Total Pembayaran</b-col>
                              <b-col xl="8">
                                  <b-input
                                  v-model="total_pembayaran"
                                  v-on:keyup="formatRupiah('total_pembayaran')"
                                  required
                                  ></b-input>
                              </b-col>
                          </b-row>
                          <b-row class="mt-2">
                            <b-col xl="12" class="d-flex justify-content-end">
                                <b-button @click="submitDataAir()">Submit</b-button>
                            </b-col>
                          </b-row>
                      </div>
                  </div>
              </div> 
            </div>
        </div>
        <!-- Container-fluid Ends-->
    </div>
</template>

<script>

import VueBootstrapTypeahead from 'vue-bootstrap-typeahead';

  export default {
    components: {
      VueBootstrapTypeahead
    },
    data(){
      return{
          //form
          id_pembeli: null,
          tanggal: null,
          nama_pembeli: null,
          nama_pemilik_rumah: null,
          bulan: null,
          nomor_handphone: null,
          alamat: null,
          total_pembayaran: null,
          total_dibayarkan: null,
          sisa_cicilan: null,
          sisa_pembayaran: null,

          switch: false,
          
           data_bulan: [
              { value: 'Januari',  text: 'Januari'},
              { value: 'Februari',  text: 'Februari'},
              { value: 'Maret',  text: 'Maret'},
              { value: 'April',  text: 'April'},
              { value: 'Mei',  text: 'Mei'},
              { value: 'Juni',  text: 'Juni'},
              { value: 'Juli',  text: 'Juli'},
              { value: 'Agustus',  text: 'Agustus'},
              { value: 'September',  text: 'September'},
              { value: 'Oktober',  text: 'Oktober'},
              { value: 'November',  text: 'November'},
              { value: 'Desember',  text: 'Desember'},
          ],
          data_pembeli: [],
          query: ''
      };
    },
    computed: {
      
    },
    mounted() {
       
    },
    created() {
        this.getPembayaran();
        this.getDataPembeli();
    },
    methods: {
      errorToast(message){
          this.$bvToast.toast(message+" tidak boleh kosong",{
              title: "Error!",
              variant: "danger"
          })
      },
      checkForm(){
          let errors = [];
          if(!this.tanggal){
              errors.push(" Tanggal")
          }
          if(!this.nama_pembeli){
              errors.push(" Nama Pembeli")
          }
          if(!this.bulan){
              errors.push(" Pembayaran Bulan")
          }
          if(!this.total_pembayaran){
              errors.push(" Total Pembayaran")
          }

          if(errors.length){
              this.errorToast(errors)
              return false;
          }else{
              return true;
          }
      },
      formatRupiah(value){
          if(this[value]){
            let formatted = "Rp. ".concat(this[value]
            .replace(/\D/g, "")
            .replace(/\B(?=(\d{3})+(?!\d))/g, "."));
            this[value] = formatted;
          }
      },
      getDataPembeli(){
        let self = this
        this.axios.get('http://backend.pesonabarokah.com/api/pembayaran/getNamaPembelian/'+this.$route.query.tipe)
        .then(function(response){
            self.data_pembeli = response.data;
        });
      },
      getDetailPembeli(){
        let self = this;
        const data = {
            nama_pembeli:  this.nama_pembeli.replace(/\s*(?:\[[^\]]*\]|\([^)]*\))\s*/g,"")
        }
        this.axios.get('http://backend.pesonabarokah.com/api/getPembayaranCicilan/'+data.nama_pembeli)
        .then(function(response){
            self.id_pembeli = response.data.id
            self.nama_pemilik_rumah = response.data.nama_pemilik_rumah
            self.nomor_handphone = response.data.nomor_handphone
            self.alamat = response.data.alamat
            self.total_dibayarkan = response.data.total_dibayarkan
            self.sisa_cicilan = response.data.sisa_cicilan
            self.sisa_pembayaran = response.data.sisa_pembayaran
            self.switch=true
        });
      },
      getPembayaran(){
          let self = this
          this.axios.get('http://backend.pesonabarokah.com/api/pembayaran/getPembayaran/'+this.$route.query.id)
          .then(function(response){
              self.tanggal = response.data.tanggal
              self.bulan = response.data.bulan
              self.total_pembayaran = "Rp. "+response.data.total_pembayaran.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
              self.$refs.nama_pembeli.inputValue = response.data.pembelian.nama_pembeli+" ("+response.data.pembelian.alamatpembelian.alamat+")"
              self.nama_pembeli = response.data.pembelian.nama_pembeli+" ("+response.data.pembelian.alamatpembelian.alamat+")"
              self.getDetailPembeli();
          });
      },
      setTotalHarga(){
        let count = this.kuantitas * this.harga_satuan.replace(/\D/g, "")
        this.total =  "Rp. "+count.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
        stop();
      },
      submitData(){
          let self = this
          if(this.checkForm()){
              const data = {
              id: this.$route.query.id,
              id_pembeli: this.id_pembeli,
              tanggal: this.tanggal,
              nama_pembeli: this.nama_pembeli,
              bulan: this.bulan,
              total_pembayaran: this.total_pembayaran
            }
            this.axios.post('http://backend.pesonabarokah.com/api/pembayaran/updatePembayaranCicilan', data)
            .then(function(response){
                console.log(response);
                self.$router.push({name: "pembayaran", query: { success: true}});
            }).catch(function (error){
                self.$router.push({name: "pembayaran", query: { error: true}});
            });;
          }
      },
      submitDataAir(){
          let self = this
          if(this.checkForm()){
              const data = {
              id: this.$route.query.id,    
              id_pembeli: this.id_pembeli,
              tanggal: this.tanggal,
              nama_pembeli: this.nama_pembeli,
              bulan: this.bulan,
              total_pembayaran: this.total_pembayaran
            }
            this.axios.post('http://backend.pesonabarokah.com/api/pembayaran/updatePembayaranAir', data)
            .then(function(response){
                console.log(response);
                self.$router.push({name: "pembayaran", query: { success: true}});
            }).catch(function (error){
                self.$router.push({name: "pembayaran", query: { error: true}});
            });;
          }
      },
    },
  };
</script>