<template>
    <div>
        <Breadcrumbs main="App" title="Keluhan"/>
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-muted">Tambah Keluhan</h5>
                    </div>
                    <div class="card-body">
                        <b-row>
                          <b-col xl="4">Tanggal</b-col>
                          <b-col xl="8">
                              <b-form-input
                              v-model="tanggal"
                              type="date"
                              required
                              ></b-form-input>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">Nama Pembeli</b-col>
                          <b-col xl="8">
                              <vue-bootstrap-typeahead
                                    v-model="nama_pembeli"
                                    inputClass="typeahead"
                                    ref="nama_pembeli"
                                    :data="data_pembeli"
                                    @hit="getDetailPembeli()"
                                />
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">Alamat</b-col>
                          <b-col xl="8">
                              <b-form-input
                              v-model="alamat"
                              type="text"
                              readonly
                              ></b-form-input>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">Keluhan</b-col>
                          <b-col xl="8">
                              <b-form-input
                              v-model="keluhan"
                              type="text"
                              required
                              ></b-form-input>
                          </b-col>
                      </b-row>
                       <b-row class="mt-2">
                          <b-col xl="4">Kebutuhan Barang</b-col>
                          <b-col xl="8">
                              <b-form-input
                              v-model="kebutuhan_barang"
                              type="text"
                              required
                              ></b-form-input>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="4">Status</b-col>
                          <b-col xl="8">
                              <b-select v-model="status" :options="data_status"></b-select>
                          </b-col>
                      </b-row>
                      <b-row class="mt-2">
                          <b-col xl="12" class="d-flex justify-content-end">
                              <b-button @click="submitData()">Submit</b-button>
                          </b-col>
                      </b-row>    
                    </div>
                </div>
              </div> 
            </div>
        </div>
        <!-- Container-fluid Ends-->
    </div>
</template>

<script>

import VueBootstrapTypeahead from 'vue-bootstrap-typeahead';

  export default {
    components: {
      VueBootstrapTypeahead
    },
    data(){
      return{
          //form
          pembelian_id: null,
          tanggal: null,
          nama_pembeli: null,
          alamat: null,
          keluhan: null,
          kebutuhan_barang: null,
          status: null,
          
          data_status:[
              {value: 'Pending', text:'Pending'},
              {value: 'Done', text:'Done'}
          ],
          data_pembeli:[]
      };
    },
    computed: {
      
    },
    mounted() {
        
    },
    created() {
        this.getDataPembeli()
    },
    methods: {
      errorToast(message){
          this.$bvToast.toast(message+" tidak boleh kosong",{
              title: "Error!",
              variant: "danger"
          })
      },
      checkForm(){
          let errors = [];
          if(!this.tanggal){
              errors.push(" Tanggal")
          }
          if(!this.nama_pembeli){
              errors.push(" Nama Pembeli")
          }
          if(!this.keluhan){
              errors.push(" Keluhan")
          }
          if(!this.kebutuhan_barang){
              errors.push(" Kebutuhan Barang")
          }
          if(!this.status){
              errors.push(" Status")
          }
          if(errors.length){
              this.errorToast(errors)
              return false;
          }else{
              return true;
          }
      },
      formatRupiah(value){
          if(this[value]){
            let formatted = "Rp. ".concat(this[value]
            .replace(/\D/g, "")
            .replace(/\B(?=(\d{3})+(?!\d))/g, "."));
            this[value] = formatted;
          }
      },
      getDataPembeli(){
        let self = this
        this.axios.get('http://backend.pesonabarokah.com/api/pembayaran/getNamaPembelian/air')
        .then(function(response){
            self.data_pembeli = response.data;
        });
      },
      getDetailPembeli(){
        let self = this;
        const data = {
            nama_pembeli:  this.nama_pembeli.replace(/\s*(?:\[[^\]]*\]|\([^)]*\))\s*/g,"")
        }
        console.log(data)
        this.axios.post('http://backend.pesonabarokah.com/api/getDetailPembelian',data)
        .then(function(response){
            self.pembelian_id = response.data.id;
            self.alamat = response.data.alamatpembelian.alamat
        });
      },  
      submitData(){
          let self = this
          if(this.checkForm()){
            const data = {
                pembelian_id: this.pembelian_id,
                tanggal: this.tanggal,
                keluhan: this.keluhan,
                kebutuhan: this.kebutuhan_barang,
                status: this.status
            }
            this.axios.post('http://backend.pesonabarokah.com/api/keluhan/addKeluhan', data)
            .then(function(response){
                self.$router.push({name: "keluhan", query: { success: true}});
            }).catch(function (error){
                self.$router.push({name: "keluhan", query: { error: true}});
            });;
          }
      }
    }
  };
</script>