<template>
  <div>
    <!-- page-wrapper Start-->
    <div class="container-fluid p-0">
      <div class="row m-0">
        <div class="col-12 p-0">
          <div class="login-card">
            <div>
              <div>
                <a class="logo">
                  <img
                    style="width:200px;"
                    class="img-fluid for-light"
                    src="../assets/images/logo.png"
                    alt="looginpage"
                  />
                </a>
              </div>
              <div class="login-main">
                <b-card>
                  <template #title>
                      </template>
                      <b-card-text>
                        <form class="theme-form" @submit.prevent="handleSubmit">
                          <div class="form-group">
                            <div v-if="isError" class="alert alert-danger">Username/password salah!</div>
                            <label for="username">Username</label>
                            <input
                              type="text"
                              v-model="username"
                              name="username"
                              class="form-control"
                              :class="{ 'is-invalid': submitted && !username }"
                            />
                            <div
                              v-show="submitted && !username"
                              class="invalid-feedback"
                            >
                              Username is required
                            </div>
                          </div>
                          <div class="form-group">
                            <label htmlFor="password">Password</label>
                            <input
                              type="password"
                              v-model="password"
                              name="password"
                              class="form-control"
                              :class="{
                                'is-invalid': submitted && !password,
                              }"
                            />
                            <div
                              v-show="submitted && !password"
                              class="invalid-feedback">
                              Password is required
                            </div>
                          </div>
                          <div class="form-group mt-3 mb-0">
                            <button
                              class="btn btn-primary btn-block">
                              Login
                            </button>
                          </div>
                        </form>
                      </b-card-text>
                </b-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- latest jquery-->
  </div>
</template>

<script>
import { mapActions } from 'vuex';
  export default {
    name: 'login',
    data() {
      return {
        submitted: null,
        username: null,
        password: null,
        isError: false,
      };
    },
    computed: {
    },
    created() {
    },
    methods: {
      ...mapActions(["LogIn"]),
      async handleSubmit(){
          this.submitted = true;
          const User = new FormData();
          User.append("username", this.username);
          User.append("password", this.password);
          try{
            await this.LogIn(User)
            this.isError = false;
            this.$router.push({name: 'dashboard'})
          }catch(error){
            this.isError = true;
        }   
      }
    },
  };
</script>
